Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.18.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        require_serial: true

fix: migrate by default (#1509)
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/item.py
  pystac/stac_io.py
  pystac/stac_object.py
  tests/extensions/test_classification.py
  tests/extensions/test_eo.py
  tests/extensions/test_grid.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
  tests/utils/__init__.py
Due: mypy

release: v1.12.1
  CHANGELOG.md
  pystac/version.py
Due: mypy

release: v1.12.1 (#1511)
  CHANGELOG.md
  pystac/version.py
Due: mypy

Make sure that VersionRange has VersionIDs rather than strings
  pystac/serialization/identify.py
  tests/extensions/test_eo.py
  tests/serialization/test_identify.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Make sure that VersionRange has VersionIDs rather than strings (#1512)
  CHANGELOG.md
  pystac/serialization/identify.py
  tests/extensions/test_eo.py
  tests/serialization/test_identify.py
Due: mypy

update uv.lock for pystac 1.12.1
  uv.lock
Due: none

update uv.lock for pystac 1.12.1 (#1514)
  uv.lock
Due: none

993 convert test_version.py to pytest
  tests/test_version.py
Due: mypy

993 convert test_item.py to pytest
  tests/test_item.py
Due: mypy

993 apply pre-commit fixes
  tests/cassettes/test_item/test_null_geometry.yaml
  tests/test_item.py
Due: mypy

fix: readme badge
  README.md
Due: none

chore: use dependency-groups
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  docs/pyproject.toml
  pyproject.toml
Due: none

feat: add python version
  .gitignore
  .python-version
Due: none

fix: don't run lints on windoze
  .github/workflows/continuous-integration.yml
Due: none

993 replace function with fixture
  tests/conftest.py
  tests/test_item.py
Due: mypy

chore: use dependency-groups (#1517)
  .github/workflows/continuous-integration.yml
  .gitignore
  .python-version
  .readthedocs.yaml
  docs/pyproject.toml
  pyproject.toml
Due: none

993 progress: convert test_version.py & test_item.py to pytest (#1516)
  tests/cassettes/test_item/test_null_geometry.yaml
  tests/conftest.py
  tests/test_item.py
  tests/test_version.py
Due: mypy

Remove scripts except `pull-static`
  .github/pull_request_template.md
  .github/workflows/continuous-integration.yml
  docs/contributing.rst
  scripts/bench
  scripts/pull-static
  scripts/test
Due: doc8

Add default pytest options
  .github/pull_request_template.md
  docs/contributing.rst
  pyproject.toml
Due: doc8

Remove scripts except `pull-static` (#1519)
  .github/pull_request_template.md
  .github/workflows/continuous-integration.yml
  docs/contributing.rst
  pyproject.toml
  scripts/bench
  scripts/pull-static
  scripts/test
Due: doc8

993 convert test_item_assets.py to pytest
  tests/test_item_assets.py
Due: mypy

993 progress on test_item_collection.py:
  tests/test_item_collection.py
Due: mypy

993 remove class (nonfunctional atm)
  tests/test_item_collection.py
Due: mypy

993 remove self from methods (still not functional)
  tests/test_item_collection.py
Due: mypy

993 install fixtures & finish first test conversion
  tests/test_item_collection.py
Due: mypy

993 complete conversion to pytest for test_item_collection.py
  tests/test_item_collection.py
Due: mypy

993 pre-commit fixups
  tests/test_item_collection.py
Due: mypy

993 start on test_collection.py
  tests/test_collection.py
Due: mypy

993 revise assertion
  tests/test_collection.py
Due: mypy

993 replace assertEqual with assert; cmd line:
  tests/test_collection.py
Due: mypy

993 convert rest of asserts
  tests/test_collection.py
Due: mypy

993 convert CollectionTest to top-level functions
  tests/test_collection.py
Due: mypy

993 remove self to prep for declassification
  tests/test_collection.py
Due: mypy

993 convert ExtentTest method tests to functions
  tests/test_collection.py
Due: mypy

993 convert Collection subclass tests to pytest
  tests/test_collection.py
Due: mypy

993 complete test_collection.py conversion to pytest
  tests/test_collection.py
Due: mypy

993 fastidious revisions by ruff
  tests/test_collection.py
Due: mypy

993 progress: convert 3 more files to pytest (#1520)
  tests/test_collection.py
  tests/test_item_assets.py
  tests/test_item_collection.py
Due: mypy

feat: add stac-geoparquet reading and writing
  pyproject.toml
  pystac/item_collection.py
  tests/data-files/item-collection/sample-item-collection.parquet
  tests/test_item_collection.py
  uv.lock
Due: mypy
