Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - pre-commit
  require_serial: true

Remove unused pystac.validation import (#1583)
  CHANGELOG.md
  pystac/__init__.py
Due: mypy

feat: Added `processing` extension and properties
  pystac/extensions/processing.py
Due: mypy

feat: Added `ProcessingLevel` options and validation
  pystac/extensions/processing.py
Due: mypy

feat: Properties and RelTypes
  pystac/extensions/processing.py
Due: mypy

feat: ItemProcessingExtension
  pystac/extensions/processing.py
Due: mypy

feat: `AssetProcessingExtension`
  pystac/extensions/processing.py
Due: mypy

feat: `ProcessingExtensionHooks`
  pystac/extensions/processing.py
Due: mypy

feat: `SummariesProcessingExtension`
  pystac/extensions/processing.py
Due: mypy

fix: Remove `Self` typing
  pystac/extensions/processing.py
Due: mypy

docs: Add PR to changelog
  CHANGELOG.md
Due: none

fix: mypy fixes
  pystac/extensions/processing.py
Due: mypy

docs: Updated docs
  docs/api/extensions/processing.rst
Due: doc8

test: Added tests
  pystac/extensions/processing.py
  tests/data-files/processing/collection.json
  tests/data-files/processing/item.json
  tests/extensions/test_processing.py
Due: mypy

Add projection v1.2.0 to the list schema URIs in projection.py
  pystac/extensions/projection.py
Due: mypy

archive extension implementation
  pystac/__init__.py
  pystac/extensions/archive.py
  pystac/extensions/ext.py
  pystac/serialization/identify.py
Due: mypy

Landsat tutorial: fix broken link (#1488)
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Issue 1470 paths windows (#1475)
  .github/workflows/continuous-integration.yml
  .gitignore
  CHANGELOG.md
  tests/test_catalog.py
  tests/test_layout.py
  tests/test_utils.py
  tests/utils/__init__.py
  tests/utils/os_utils.py
Due: mypy

fix: mypy typing (#1569)
  CHANGELOG.md
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/file.py
  pystac/extensions/label.py
  pystac/extensions/mlm.py
  pystac/extensions/pointcloud.py
  pystac/extensions/raster.py
  pystac/extensions/table.py
  pystac/extensions/version.py
  tests/extensions/test_mgrs.py
  tests/serialization/test_identify.py
  uv.lock
Due: mypy

release: v1.13.0 (#1550)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/conf.py
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
  pystac/extensions/classification.py
  pystac/extensions/grid.py
  pystac/serialization/common_properties.py
  pystac/serialization/migrate.py
  pystac/utils.py
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
  pystac/version.py
  tests/extensions/test_eo.py
  tests/serialization/test_migrate.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item_collection.py
  tests/validation/test_validate.py
  uv.lock
Due: mypy

Include a plain text repr for when notebook is untrusted. (#1577)
  docs/quickstart.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/pystac-introduction.ipynb
  pystac/asset.py
  pystac/html/JSON.jinja2
  pystac/item_collection.py
  pystac/link.py
  pystac/provider.py
  pystac/stac_object.py
Due: mypy

Item assets (#1476)
  CHANGELOG.md
  docs/api/item_assets.rst
  docs/api/pystac.rst
  pystac/__init__.py
  pystac/collection.py
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/ext.py
  pystac/extensions/item_assets.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/item_assets.py
  tests/extensions/test_classification.py
  tests/extensions/test_item_assets.py
  tests/extensions/test_raster.py
  tests/serialization/test_migrate.py
  tests/test_item_assets.py
Due: doc8, mypy

Update `DefaultStacIO` to fix parsing non-ascii in urls (#1566)
  CHANGELOG.md
  README.md
  pyproject.toml
  pystac/stac_io.py
  tests/cassettes/test_stac_io/test_urls_with_non_ascii_characters.yaml
  tests/test_stac_io.py
  uv.lock
Due: mypy

993 progress: convert 3 more files; 10 to go (#1531)
  tests/extensions/cassettes/test_grid/test_attributes.yaml
  tests/extensions/cassettes/test_grid/test_modify.yaml
  tests/extensions/cassettes/test_projection/test_bbox.yaml
  tests/extensions/cassettes/test_projection/test_centroid.yaml
  tests/extensions/cassettes/test_projection/test_epsg.yaml
  tests/extensions/cassettes/test_projection/test_geometry.yaml
  tests/extensions/cassettes/test_projection/test_partial_apply.yaml
  tests/extensions/cassettes/test_projection/test_projjson.yaml
  tests/extensions/cassettes/test_projection/test_shape.yaml
  tests/extensions/cassettes/test_projection/test_transform.yaml
  tests/extensions/cassettes/test_projection/test_validate_proj.yaml
  tests/extensions/cassettes/test_projection/test_wkt2.yaml
  tests/extensions/cassettes/test_table/test_validate.yaml
  tests/extensions/test_grid.py
  tests/extensions/test_projection.py
  tests/extensions/test_table.py
Due: mypy

Raise an error on APILayoutStrategy when root_href is non-url (#1498)
  CHANGELOG.md
  pystac/catalog.py
  pystac/stac_io.py
  pystac/utils.py
  tests/test_catalog.py
Due: mypy

993 progress: convert last 4 files outside of extensions/ (#1530)
  tests/serialization/test_identify.py
  tests/test_cache.py
  tests/test_common_metadata.py
  tests/validation/test_schema_uri_map.py
Due: mypy

fix: fall back to epsg in crs_string, too (#1510)
  CHANGELOG.md
  pystac/extensions/projection.py
  tests/data-files/projection/another-1.1.json
  tests/extensions/test_projection.py
Due: mypy

fix(docs): changelog formatting
  CHANGELOG.md
Due: none

fix: don't set code for None epsg (#1544)
  CHANGELOG.md
  pystac/extensions/projection.py
  tests/extensions/test_projection.py
  uv.lock
Due: mypy

update parquet and zarr media types, add others (#1554)
  CHANGELOG.md
  pystac/media_type.py
  uv.lock
Due: mypy

993 progress: 3 more files converted (#1532)
  tests/extensions/cassettes/test_eo/test_asset_bands.yaml
  tests/extensions/cassettes/test_eo/test_bands.yaml
  tests/extensions/cassettes/test_eo/test_cloud_cover.yaml
  tests/extensions/cassettes/test_eo/test_validate_eo.yaml
  tests/extensions/cassettes/test_pointcloud/test_count.yaml
  tests/extensions/cassettes/test_pointcloud/test_density.yaml
  tests/extensions/cassettes/test_pointcloud/test_encoding.yaml
  tests/extensions/cassettes/test_pointcloud/test_schemas.yaml
  tests/extensions/cassettes/test_pointcloud/test_statistics.yaml
  tests/extensions/cassettes/test_pointcloud/test_type.yaml
  tests/extensions/cassettes/test_pointcloud/test_validate_pointcloud.yaml
  tests/extensions/test_custom.py
  tests/extensions/test_eo.py
  tests/extensions/test_pointcloud.py
Due: mypy

Update migrate code to handle license updates for v1.1.0 (#1491)
  pystac/serialization/migrate.py
  tests/data-files/catalogs/cbers-partial/CBERS4AWFI/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4MUX/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN10M/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN5M/collection.json
  tests/data-files/catalogs/test-case-1/country-1/area-1-1/collection.json
  tests/data-files/catalogs/test-case-1/country-1/area-1-2/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-1/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-2/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/collection.json
  tests/data-files/catalogs/test-case-4/acc/collection.json
  tests/data-files/catalogs/test-case-4/dar/collection.json
  tests/data-files/catalogs/test-case-4/kam/collection.json
  tests/data-files/catalogs/test-case-4/mon/collection.json
  tests/data-files/catalogs/test-case-4/nia/collection.json
  tests/data-files/catalogs/test-case-4/ptn/collection.json
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/data-files/collections/multi-extent.json
  tests/data-files/collections/with-assets.json
  tests/data-files/invalid/shared-id/test/collection.json
  tests/data-files/item-assets/example-landsat8.json
  tests/data-files/projection/collection-with-summaries.json
  tests/data-files/storage/collection-naip.json
  tests/data-files/table/collection-2.json
  tests/data-files/table/collection.json
  tests/data-files/table/table-collection.json
  tests/data-files/view/collection-with-summaries.json
  tests/data-files/windows_hrefs/test-collection/collection.json
  tests/serialization/test_migrate.py
  tests/test_catalog.py
Due: mypy

fix: type of proj:code setter (#1560)
  CHANGELOG.md
  pystac/extensions/projection.py
Due: mypy

Update how to read tutorial (#1573)
  docs/tutorials/how-to-read-data-from-stac.ipynb
  pyproject.toml
  uv.lock
Due: none

Remove scripts except `pull-static` (#1519)
  .github/pull_request_template.md
  .github/workflows/continuous-integration.yml
  docs/contributing.rst
  pyproject.toml
  scripts/bench
  scripts/pull-static
  scripts/test
Due: doc8

get_root_link/get_child_links/get_item_links: Ensure correct media types (#1497)
  CHANGELOG.md
  pystac/catalog.py
  pystac/media_type.py
  pystac/stac_object.py
  tests/test_catalog.py
Due: mypy

Make sure that VersionRange has VersionIDs rather than strings (#1512)
  CHANGELOG.md
  pystac/serialization/identify.py
  tests/extensions/test_eo.py
  tests/serialization/test_identify.py
Due: mypy

release: v1.12.1 (#1511)
  CHANGELOG.md
  pystac/version.py
Due: mypy

ItemCollection: add link to related STAC API spec (#1567)
  pystac/item_collection.py
Due: mypy

Add MLM extension (#1542)
  CHANGELOG.md
  docs/api/extensions.rst
  docs/api/extensions/mlm.rst
  pystac/__init__.py
  pystac/extensions/ext.py
  pystac/extensions/mlm.py
  tests/data-files/mlm/collection.json
  tests/data-files/mlm/item_basic.json
  tests/extensions/cassettes/test_mlm/test_apply.yaml
  tests/extensions/cassettes/test_mlm/test_mlm_validation.yaml
  tests/extensions/cassettes/test_mlm/test_validate_mlm.yaml
  tests/extensions/test_mlm.py
Due: doc8, mypy

Path conditions:
  doc8: any of: \.rst$
  mypy: any of: \.py$
