Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - "--py39-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        stages: [commit]
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi, jupyter]
        additional_dependencies: ["black[jupyter]"]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

custom StacIO init needs to call parent init (#1308)
  CHANGELOG.md
  docs/concepts.rst
  docs/tutorials/how-to-create-stac-catalogs.ipynb
Due: doc8

Minimize css a bit and make it better at overriding jupyter defaults
  pystac/html/JSON.jinja2
  pystac/html/Macros.jinja2
Due: none

Minimize css a bit and make it better at overriding jupyter defaults (#1311)
  pystac/html/JSON.jinja2
  pystac/html/Macros.jinja2
Due: none

feat: test and advertise python 3.12 (#1260)
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  pyproject.toml
Due: none

Replace called methods in docstrings with simple code blocks
  pystac/catalog.py
Due: ruff, black, mypy

Replace called methods in docstrings with simple code blocks (#1316)
  pystac/catalog.py
Due: ruff, black, mypy

add custom validator as input
  pystac/stac_object.py
  pystac/validation/__init__.py
Due: ruff, black, mypy

update changelog
  CHANGELOG.md
Due: none

update validator arg in docstrings
  pystac/stac_object.py
  pystac/validation/__init__.py
Due: ruff, black, mypy

add unittest for new custom validator argument
  tests/validation/test_validate.py
Due: ruff, black, mypy

fix linting issues
  pystac/stac_object.py
  pystac/validation/__init__.py
  tests/validation/test_validate.py
Due: ruff, black, mypy

add custom validator as input (#1320)
  CHANGELOG.md
  pystac/stac_object.py
  pystac/validation/__init__.py
  tests/validation/test_validate.py
Due: ruff, black, mypy

Update pytest-cov pin
  pyproject.toml
Due: none

Update version, changelog
  CHANGELOG.md
  pystac/version.py
Due: ruff, black, mypy

fix gridcode pydoc
  pystac/extensions/grid.py
Due: ruff, black, mypy

fix gridcode pydoc (#1332)
  pystac/extensions/grid.py
Due: ruff, black, mypy

allow id as input for APILayoutStrategy
  docs/tutorials/creating-a-landsat-stac.ipynb
  pystac/layout.py
  pystac/serialization/migrate.py
  tests/test_layout.py
Due: ruff, black, mypy

add extra href methods
  CHANGELOG.md
  pystac/layout.py
  tests/test_layout.py
Due: ruff, black, mypy

update documentation
  docs/api.rst
  docs/conf.py
Due: ruff, black, doc8, mypy

add more tests
  tests/test_layout.py
Due: ruff, black, mypy

typo
  tests/test_layout.py
Due: ruff, black, mypy

changlog
  CHANGELOG.md
Due: none

revert linting of migrate.py
  pystac/serialization/migrate.py
Due: ruff, black, mypy

revert linting of creating-a-landsat-stac.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

fix notebook
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: don't transform_href in __getstate__
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

add default stac api version
  docs/conf.py
  pystac/version.py
Due: ruff, black, mypy

Add more endpoints to APILayoutStrategy (#1335)
  CHANGELOG.md
  docs/api.rst
  docs/conf.py
  docs/tutorials/creating-a-landsat-stac.ipynb
  pystac/layout.py
  pystac/version.py
  tests/test_layout.py
Due: ruff, black, doc8, mypy

fix: don't transform_href in __getstate__ (#1337)
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

release: v1.10.1
  CHANGELOG.md
  pystac/version.py
Due: ruff, black, mypy

Release v1.10.1 (#1338)
  CHANGELOG.md
  pystac/version.py
Due: ruff, black, mypy

deps: keep codespell below 2.3
  pyproject.toml
Due: none

Update docstring of name argument to agree with extension specification (#1355)
  pystac/extensions/classification.py
Due: ruff, black, mypy

Update changelog with #1356
  CHANGELOG.md
Due: none

fix: use `check` in ruff pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: documentation for retry attribute
  pystac/stac_io.py
Due: ruff, black, mypy
