Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

feat: add Catalog.fully_resolve
  pystac/catalog.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

gh: tweak PR template
  .github/pull_request_template.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

docs: make the build status badge a link
  README.md
Due: none

tests, refactor: rename to test_case_1_catalog
  tests/conftest.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

ci: remove `experimental`
  .github/workflows/continuous-integration.yml
Due: none

fix: use `as_posix` when reading stac objects
  pystac/stac_io.py
  tests/conftest.py
  tests/test_stac_io.py
Due: black, flake8, mypy, isort

Replace sphinx-panel with sphinx-design
  docs/conf.py
  docs/index.rst
  requirements-docs.txt
Due: black, doc8, flake8, mypy, isort

Update layout to make within page links stick on the right
  docs/_templates/layout.html
Due: none

Update customized layout template
  docs/_templates/layout.html
Due: none

docs, fix: silence warnings appearing w/ Sphinx 5
  docs/conf.py
  pystac/utils.py
Due: black, flake8, mypy, isort

refactor: move TemplateError to errors.py
  docs/api.rst
  pystac/__init__.py
  pystac/errors.py
  pystac/layout.py
  tests/test_layout.py
Due: black, doc8, flake8, mypy, isort

fix: sphinx autobuild
  docs/Makefile
  requirements-docs.txt
Due: none

tests: don't transform hrefs
  tests/test_item_collection.py
Due: black, flake8, mypy, isort

deps: bump Sphinx to 5.1.1
  requirements-docs.txt
Due: none

Update changelog
  CHANGELOG.md
Due: none

When instantiating ItemCollections clone items by default
  pystac/item_collection.py
  tests/test_item_collection.py
Due: black, flake8, mypy, isort

Update example
  pystac/item_collection.py
Due: black, flake8, mypy, isort

docs: remove customizations
  docs/_static/custom.css
  docs/_templates/layout.html
  docs/conf.py
Due: black, flake8, mypy, isort

docs: allow 7 header links before dropdown
  docs/conf.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
