Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, doc8, mypy

ruff:
  name: ruff
  entry: ruff
  language: system
  stages:
  - commit
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

feat: add experimental to version ext
  pystac/extensions/version.py
  tests/extensions/test_version.py
Due: ruff, black, mypy

doc: fixups
  pystac/extensions/version.py
Due: ruff, black, mypy

chore: update changelog
  CHANGELOG.md
Due: none

fix(tests): mark some extra vcrs
  tests/extensions/cassettes/test_version/test_assets.yaml
  tests/extensions/cassettes/test_version/test_optional_version.yaml
  tests/extensions/test_version.py
Due: ruff, black, mypy

Update file extension, add Link.ext, let file apply to catalogs
  pystac/extensions/base.py
  pystac/extensions/ext.py
  pystac/extensions/file.py
  pystac/link.py
  tests/conftest.py
  tests/data-files/file/catalog.json
  tests/data-files/file/collection.json
  tests/data-files/file/item.json
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_byte_order.yaml
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_header_size.yaml
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_size.yaml
  tests/extensions/cassettes/test_file/FileTest.test_validate_collection.yaml
  tests/extensions/cassettes/test_file/FileTest.test_validate_item.yaml
  tests/extensions/cassettes/test_file/test_migrate_from_v2_0_0.yaml
  tests/extensions/cassettes/test_file/test_set_field[calibrations-local_path-different-file.xml].yaml
  tests/extensions/cassettes/test_file/test_set_field[measurement-header_size-8192].yaml
  tests/extensions/cassettes/test_file/test_set_field[products-local_path-.-a-different-path].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-byte_order-little-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-size-1].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[calibrations-local_path-different-file.xml].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[measurement-header_size-8192].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-byte_order-little-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-size-1].yaml
  tests/extensions/cassettes/test_file/test_validate_catalog.yaml
  tests/extensions/cassettes/test_file/test_validate_collection.yaml
  tests/extensions/cassettes/test_file/test_validate_item.yaml
  tests/extensions/test_eo.py
  tests/extensions/test_ext.py
  tests/extensions/test_file.py
  tests/extensions/test_label.py
  tests/extensions/test_pointcloud.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/extensions/test_storage.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_view.py
  tests/test_item.py
  tests/utils/__init__.py
Due: ruff, black, mypy

Recreate all cassettes for test_file
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_byte_order.yaml
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_checksum.yaml
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_header_size.yaml
  tests/extensions/cassettes/test_file/FileTest.test_item_asset_size.yaml
  tests/extensions/cassettes/test_file/FileTest.test_validate_collection.yaml
  tests/extensions/cassettes/test_file/FileTest.test_validate_item.yaml
  tests/extensions/cassettes/test_file/test_migrate_from_v2_0_0.yaml
  tests/extensions/cassettes/test_file/test_set_field[calibrations-local_path-different-file.xml].yaml
  tests/extensions/cassettes/test_file/test_set_field[measurement-header_size-8192].yaml
  tests/extensions/cassettes/test_file/test_set_field[products-local_path-.-a-different-path].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-byte_order-little-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  tests/extensions/cassettes/test_file/test_set_field[thumbnail-size-1].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[calibrations-local_path-different-file.xml].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[measurement-header_size-8192].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-byte_order-little-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-size-1].yaml
  tests/extensions/cassettes/test_file/test_validate_catalog.yaml
  tests/extensions/cassettes/test_file/test_validate_collection.yaml
  tests/extensions/cassettes/test_file/test_validate_item.yaml
Due: none

Missed some cassettes
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-byte_order-big-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-checksum-90e40210163700a8a6501eccd00b6d3b44ddaedb].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-header_size-4092].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-local_path-a-path].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-size-129302].yaml
  tests/extensions/test_file.py
Due: ruff, black, mypy

fix: pop_if_none on deprecated
  pystac/extensions/version.py
Due: ruff, black, mypy

Update version extension (#1262)
  CHANGELOG.md
  pystac/catalog.py
  pystac/extensions/ext.py
  pystac/extensions/version.py
  tests/data-files/version/collection.json
  tests/data-files/version/item.json
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_add_version.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_fail_validate.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_latest.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_predecessor.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_successor.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_validate_all.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_version_deprecated.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_add_version.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_all_links.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_fail_validate.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_latest.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_predecessor.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_successor.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_version_in_properties.yaml
  tests/extensions/cassettes/test_version/test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_version.yaml
  tests/extensions/cassettes/test_version/test_all_links.yaml
  tests/extensions/cassettes/test_version/test_assets.yaml
  tests/extensions/cassettes/test_version/test_catalog_add_version.yaml
  tests/extensions/cassettes/test_version/test_catalog_validate_all.yaml
  tests/extensions/cassettes/test_version/test_collection_add_version.yaml
  tests/extensions/cassettes/test_version/test_collection_validate_all.yaml
  tests/extensions/cassettes/test_version/test_latest.yaml
  tests/extensions/cassettes/test_version/test_optional_version.yaml
  tests/extensions/cassettes/test_version/test_predecessor.yaml
  tests/extensions/cassettes/test_version/test_successor.yaml
  tests/extensions/cassettes/test_version/test_version_in_properties.yaml
  tests/extensions/test_ext.py
  tests/extensions/test_version.py
Due: ruff, black, mypy

refactor: DRY asset methods (#1264)
  pystac/asset.py
  pystac/collection.py
  pystac/item.py
  tests/extensions/test_xarray_assets.py
  tests/test_item.py
Due: ruff, black, mypy

Let objects use v1.0.0 of file ext, but warn them if old fields present
  pystac/extensions/file.py
  tests/extensions/cassettes/test_file/test_migrate_from_v1_0_0.yaml
  tests/extensions/test_file.py
Due: ruff, black, mypy

Align with #1264 and #1258
  pystac/extensions/ext.py
  pystac/extensions/file.py
  tests/extensions/test_ext.py
Due: ruff, black, mypy

Update file extension and add `Link.ext` (#1265)
  pystac/extensions/base.py
  pystac/extensions/ext.py
  pystac/extensions/file.py
  pystac/link.py
  tests/conftest.py
  tests/data-files/file/catalog.json
  tests/data-files/file/collection.json
  tests/data-files/file/item.json
  tests/extensions/cassettes/test_file/test_migrate_from_v1_0_0.yaml
  tests/extensions/cassettes/test_file/test_migrate_from_v2_0_0.yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[calibrations-local_path-different-file.xml].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[measurement-header_size-8192].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-byte_order-little-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_asset[thumbnail-size-1].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-byte_order-big-endian].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-checksum-90e40210163700a8a6501eccd00b6d3b44ddaedb].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-header_size-4092].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-local_path-a-path].yaml
  tests/extensions/cassettes/test_file/test_set_field_on_link[about-size-129302].yaml
  tests/extensions/cassettes/test_file/test_validate_catalog.yaml
  tests/extensions/cassettes/test_file/test_validate_collection.yaml
  tests/extensions/cassettes/test_file/test_validate_item.yaml
  tests/extensions/test_eo.py
  tests/extensions/test_ext.py
  tests/extensions/test_file.py
  tests/extensions/test_label.py
  tests/extensions/test_pointcloud.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/extensions/test_storage.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_view.py
  tests/test_item.py
  tests/utils/__init__.py
Due: ruff, black, mypy

Wrap bboxes in list if list of float OR int
  pystac/collection.py
Due: ruff, black, mypy

Wrap intervals in list if not list of lists
  pystac/collection.py
Due: ruff, black, mypy

chore: add #1268 to changelog
  CHANGELOG.md
Due: none

Use union in cast
  pystac/collection.py
Due: ruff, black, mypy

Improve TemporalExtent type checks
  pystac/collection.py
Due: ruff, black, mypy

Add tests for TemporalExtent
  tests/test_collection.py
Due: ruff, black, mypy

Test SpatialExtent raises TypeError on non-list bboxes arg
  tests/test_collection.py
Due: ruff, black, mypy

Improve handling of `bboxes` and `intervals` (#1268)
  CHANGELOG.md
  pystac/collection.py
  tests/test_collection.py
Due: ruff, black, mypy

fix: deprecation message
  pystac/extensions/base.py
Due: ruff, black, mypy

fix: deprecation message (#1271)
  pystac/extensions/base.py
Due: ruff, black, mypy

feat: update datacube extension
  pystac/extensions/datacube.py
  tests/data-files/datacube/item.json
  tests/extensions/cassettes/test_datacube/test_set_dimensions.yaml
  tests/extensions/cassettes/test_datacube/test_set_variables.yaml
  tests/extensions/cassettes/test_datacube/test_validate.yaml
  tests/extensions/test_datacube.py
Due: ruff, black, mypy

fix: deprecate the label extension
  .coveragerc
  CHANGELOG.md
  docs/api.rst
  docs/api/extensions.rst
  docs/api/extensions/label.rst
  docs/concepts.rst
  docs/tutorials.rst
  docs/tutorials/creating-a-landsat-stac.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
  pyproject.toml
  pystac/__init__.py
  pystac/extensions/label.py
  tests/data-files/label/label-example-1.json
  tests/data-files/label/label-example-2.json
  tests/data-files/label/spacenet-roads/roads_collection.json
  tests/extensions/test_label.py
  tests/extensions/test_raster.py
  tests/test_catalog.py
  tests/utils/test_cases.py
Due: ruff, black, doc8, mypy

fix(docs): sphinx warnings
  docs/api/extensions/datacube.rst
  docs/api/serialization/identify.rst
  docs/tutorials/creating-a-landsat-stac.ipynb
  pystac/extensions/file.py
Due: ruff, black, doc8, mypy

ci: add docs ci check
  .github/workflows/continuous-integration.yml
Due: none

Fix docs (#1274)
  .github/workflows/continuous-integration.yml
  docs/api/extensions/datacube.rst
  docs/api/serialization/identify.rst
  docs/tutorials/creating-a-landsat-stac.ipynb
  pystac/extensions/file.py
Due: ruff, black, doc8, mypy

fix: deprecate the label extension (#1270)
  .coveragerc
  CHANGELOG.md
  docs/api.rst
  docs/api/extensions.rst
  docs/api/extensions/label.rst
  docs/concepts.rst
  docs/tutorials.rst
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
  pyproject.toml
  pystac/__init__.py
  pystac/extensions/label.py
  tests/data-files/label/label-example-1.json
  tests/data-files/label/label-example-2.json
  tests/data-files/label/spacenet-roads/roads_collection.json
  tests/extensions/test_label.py
  tests/extensions/test_raster.py
  tests/test_catalog.py
  tests/utils/test_cases.py
Due: ruff, black, doc8, mypy

Update datacube extension (#1269)
  CHANGELOG.md
  pystac/extensions/datacube.py
  tests/data-files/datacube/item.json
  tests/extensions/cassettes/test_datacube/test_set_dimensions.yaml
  tests/extensions/cassettes/test_datacube/test_set_variables.yaml
  tests/extensions/cassettes/test_datacube/test_validate.yaml
  tests/extensions/test_datacube.py
Due: ruff, black, mypy

Address warning from `pydata-sphinx-theme` (https://github.com/pydata/pydata-sphinx-theme#1492)
  docs/conf.py
Due: ruff, black, mypy

Add parquet and zarr media types
  pystac/media_type.py
Due: ruff, black, mypy

Tidy up type checking
  benchmarks/_util.py
  pystac/utils.py
  tests/utils/stac_io_mock.py
Due: ruff, black, mypy

Maybe it doesn't have to be only when TYPE_CHECKING
  pystac/utils.py
Due: ruff, black, mypy

Tidy up type checking (#1281)
  benchmarks/_util.py
  pystac/utils.py
  tests/utils/stac_io_mock.py
Due: ruff, black, mypy

Added some references
  pystac/media_type.py
Due: ruff, black, mypy

Add parquet and zarr media types (#1280)
  pystac/media_type.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  doc8: any of: \.rst$
  mypy: any of: \.py$
