Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

feat: add isort to pre-commit and reqs
  .pre-commit-config.yaml
  docs/contributing.rst
  pyproject.toml
  requirements-test.txt
Due: doc8

chore: update changelog
  CHANGELOG.md
Due: none

feat: implement __geo_interface__ for Item
  pystac/item.py
  tests/test_item.py
Due: black, flake8, mypy, isort

docs: add geointerface to concepts.rst
  docs/concepts.rst
Due: doc8

fix, tests: twice-consumed iterators
  tests/extensions/test_label.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

feat: add an AsIsLayoutStrategy
  pystac/layout.py
  tests/test_layout.py
Due: black, flake8, mypy, isort

fix: allow relative stac extension paths
  pystac/validation/stac_validator.py
  tests/data-files/item/sample-item-with-relative-extension-path.json
  tests/data-files/schemas/v1.0.0-projection.json
  tests/test_item.py
Due: black, flake8, mypy, isort

fix: filter links with only media_type
  pystac/stac_object.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: optionally filter single link with rel or media_type
  pystac/stac_object.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Filter links with relation and/or media_type (#966)
  CHANGELOG.md
  pystac/stac_object.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

fix: set layout strategy argument defaults
  pystac/catalog.py
  pystac/collection.py
  pystac/layout.py
Due: black, flake8, mypy, isort

fix: fix up docstring formatting
  pystac/catalog.py
  pystac/collection.py
  pystac/layout.py
  pystac/stac_object.py
Due: black, flake8, mypy, isort

Revert "fix: set layout strategy argument defaults"
  pystac/catalog.py
  pystac/collection.py
  pystac/layout.py
Due: black, flake8, mypy, isort

docs: update docstrings after revert
  pystac/catalog.py
Due: black, flake8, mypy, isort

Update docstrings related to layout strategy
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/layout.py
  pystac/stac_object.py
Due: black, flake8, mypy, isort

feat: add start and end datetimes to Item.__init__
  pystac/item.py
  tests/test_item.py
Due: black, flake8, mypy, isort

lint: apply black lints
  pystac/cache.py
  pystac/extensions/label.py
  pystac/layout.py
  pystac/link.py
  pystac/serialization/identify.py
  pystac/serialization/migrate.py
  pystac/utils.py
  tests/data-files/change_stac_version.py
  tests/extensions/test_label.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_utils.py
Due: black, flake8, mypy, isort

format: make heading consistent and match JSON values
  pystac/html/Asset.jinja2
  pystac/html/Catalog.jinja2
  pystac/html/Collection.jinja2
  pystac/html/Item.jinja2
  pystac/html/Link.jinja2
  tests/html/test_html.py
Due: black, flake8, mypy, isort

format: reorders fields, removes link heading, guards against missing titles
  pystac/html/Asset.jinja2
  pystac/html/Link.jinja2
Due: none

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
