Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        args: []
        language: system
        stages: [commit]
        types: [python]

docs: remove customizations
  docs/_static/custom.css
  docs/_templates/layout.html
  docs/conf.py
Due: black, flake8, mypy, isort

feat: add deprecated warnings
  README.md
  benchmarks/item.py
  pystac/__init__.py
  pystac/collection.py
  pystac/errors.py
  pystac/extensions/version.py
  pystac/item.py
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

chore: update CHANGELOG
  CHANGELOG.md
Due: none

release: v1.7.0
  CHANGELOG.md
  pystac/version.py
Due: black, flake8, mypy, isort

lint: fix two small lints found by ruff
  pystac/extensions/eo.py
  tests/utils/__init__.py
Due: black, flake8, mypy, isort

docs: add releasing notes
  RELEASING.md
Due: none

docs: fix up releasing docs
  RELEASING.md
Due: none

ci: switch to published, not created, for release
  .github/workflows/release.yml
Due: none

chore: replace flake8 and isort with ruff
  .flake8
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing.rst
  pyproject.toml
  requirements-test.txt
Due: doc8

fix: spelling in changelog
  CHANGELOG.md
Due: none

docs: set build.os for readthedocs
  .readthedocs.yaml
Due: none

Add black-jupyter to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Run pre-commit hooks
  docs/quickstart.ipynb
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/pystac-introduction.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
Due: none

Broaden description of pre-commit hooks
  .github/pull_request_template.md
Due: none

Update notebook links to not point to specific versions
  docs/quickstart.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Use stac-extensions org
  docs/quickstart.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Update changelog
  CHANGELOG.md
Due: none

POC for namespacing extensions on STAC objects
  pystac/extensions/base.py
  pystac/extensions/eo.py
  pystac/extensions/projection.py
Due: black, flake8, mypy, isort

Move changelog entry
  CHANGELOG.md
Due: none

fix: Item's __geo_interface__
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: black, flake8, mypy, isort

release: v1.7.1
  CHANGELOG.md
  pystac/version.py
Due: black, flake8, mypy, isort
