Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

Add support to validate_all for STACObject (#1246)
  CHANGELOG.md
  pystac/validation/__init__.py
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all.yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_deprecated_dict_arg.yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case0].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case1].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case2].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case3].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case4].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case5].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case6].yaml
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

Fix item assets
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/ext.py
  pystac/extensions/file.py
  pystac/extensions/item_assets.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/view.py
  pystac/extensions/xarray_assets.py
  tests/extensions/test_custom.py
Due: black, flake8, mypy, isort

All the collection, item, and asset exts
  pystac/collection.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/ext.py
  pystac/extensions/file.py
  pystac/extensions/grid.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/pointcloud.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/scientific.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/extensions/xarray_assets.py
  tests/conftest.py
  tests/extensions/test_eo.py
  tests/extensions/test_ext.py
  tests/extensions/test_label.py
  tests/extensions/test_raster.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_storage.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_view.py
Due: black, flake8, mypy, isort

Add ext syntax
  pystac/asset.py
  pystac/extensions/ext.py
  pystac/item.py
  tests/extensions/test_eo.py
  tests/extensions/test_ext.py
  tests/extensions/test_projection.py
Due: black, flake8, mypy, isort

Allow item_assets
  pystac/extensions/ext.py
  pystac/extensions/item_assets.py
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/extensions/test_classification.py
  tests/extensions/test_item_assets.py
Due: black, flake8, mypy, isort

Rework exceptions and names
  pystac/extensions/base.py
  pystac/extensions/eo.py
  pystac/extensions/ext.py
  pystac/extensions/projection.py
  pystac/utils.py
  tests/extensions/test_eo.py
  tests/extensions/test_ext.py
  tests/extensions/test_label.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_storage.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_view.py
Due: black, flake8, mypy, isort

fix: spelling
  docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/pystac-introduction.ipynb
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

chore: set patch to informational
  codecov.yml
Due: none

Fixups (#1253)
  codecov.yml
  docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/pystac-introduction.ipynb
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

Add to non-notebook docs
  docs/concepts.rst
Due: doc8

fix: classification extension color_hint
  pystac/extensions/classification.py
  tests/extensions/test_classification.py
Due: black, flake8, mypy, isort

fix: migrate datacube
  pystac/extensions/datacube.py
  tests/extensions/test_datacube.py
Due: black, flake8, mypy, isort

fix(tests): remove unused classification test data
  tests/data-files/classification/classification-landsat-example.json
  tests/data-files/classification/collection-item-assets.json
Due: none

fix: add table ext migrations
  pystac/extensions/table.py
  tests/extensions/test_table.py
Due: black, flake8, mypy, isort

fix: timestamps v1.1.0
  pystac/extensions/timestamps.py
  tests/data-files/timestamps/example-landsat8.json
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_expires.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_published.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_unpublished.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_validate_timestamps.yaml
  tests/extensions/test_timestamps.py
Due: black, flake8, mypy, isort

chore: update changelog
  CHANGELOG.md
Due: none

Using `_stac_extensions` to denote non-standard field in assets
  pystac/asset.py
  pystac/collection.py
  pystac/extensions/base.py
  pystac/item.py
Due: black, flake8, mypy, isort

Fix up some of the more uptodate notebooks
  docs/quickstart.ipynb
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/pystac-introduction.ipynb
Due: none

Add extension version migrations (#1258)
  CHANGELOG.md
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  tests/data-files/classification/classification-landsat-example.json
  tests/data-files/classification/collection-item-assets.json
  tests/data-files/timestamps/example-landsat8.json
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_expires.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_published.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_unpublished.yaml
  tests/extensions/cassettes/test_timestamps/TimestampsTest.test_validate_timestamps.yaml
  tests/extensions/test_classification.py
  tests/extensions/test_datacube.py
  tests/extensions/test_table.py
  tests/extensions/test_timestamps.py
Due: black, flake8, mypy, isort

Execute all cells
  docs/quickstart.ipynb
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/pystac-introduction.ipynb
Due: none

Add docstrings
  pystac/asset.py
  pystac/collection.py
  pystac/extensions/item_assets.py
  pystac/item.py
Due: black, flake8, mypy, isort

docs(fix): small punctuation tweak
  docs/tutorials/adding-new-and-custom-extensions.ipynb
Due: none

feat: add pyupgrade pre-commit rachet
  .pre-commit-config.yaml
Due: none

fix(spell): test name
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

feat: report href when failing to fetch schema
  CHANGELOG.md
  pyproject.toml
  pystac/validation/__init__.py
  pystac/validation/stac_validator.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

refactor: DRY asset methods
  pystac/asset.py
  pystac/collection.py
  pystac/item.py
  tests/extensions/test_xarray_assets.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Include href when schema resolution fails (#1263)
  CHANGELOG.md
  pyproject.toml
  pystac/validation/__init__.py
  pystac/validation/stac_validator.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

feat: separate BaseVersionExtension
  pystac/extensions/ext.py
  pystac/extensions/version.py
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

refactor: import style
  pystac/extensions/version.py
Due: black, flake8, mypy, isort

feat: version is optional in version extension
  pystac/extensions/version.py
  tests/data-files/version/collection.json
  tests/data-files/version/item.json
  tests/extensions/cassettes/test_version/test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_version.yaml
  tests/extensions/cassettes/test_version/test_all_links.yaml
  tests/extensions/cassettes/test_version/test_collection_add_version.yaml
  tests/extensions/cassettes/test_version/test_collection_validate_all.yaml
  tests/extensions/cassettes/test_version/test_fail_validate.yaml
  tests/extensions/cassettes/test_version/test_latest.yaml
  tests/extensions/cassettes/test_version/test_predecessor.yaml
  tests/extensions/cassettes/test_version/test_successor.yaml
  tests/extensions/cassettes/test_version/test_version_in_properties.yaml
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

refactor(tests): modernize version extension tests
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_add_version.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_latest.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_predecessor.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_successor.yaml
  tests/extensions/cassettes/test_version/CollectionVersionExtensionTest.test_validate_all.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_latest.yaml
  tests/extensions/cassettes/test_version/ItemVersionExtensionTest.test_successor.yaml
  tests/extensions/cassettes/test_version/test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_version.yaml
  tests/extensions/cassettes/test_version/test_all_links.yaml
  tests/extensions/cassettes/test_version/test_collection_add_version.yaml
  tests/extensions/cassettes/test_version/test_collection_validate_all.yaml
  tests/extensions/cassettes/test_version/test_fail_validate.yaml
  tests/extensions/cassettes/test_version/test_latest.yaml
  tests/extensions/cassettes/test_version/test_predecessor.yaml
  tests/extensions/cassettes/test_version/test_successor.yaml
  tests/extensions/cassettes/test_version/test_version_in_properties.yaml
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

feat: add history media type
  pystac/extensions/version.py
Due: black, flake8, mypy, isort

feat: catalog extensions
  pystac/catalog.py
  pystac/extensions/ext.py
  pystac/extensions/version.py
  tests/extensions/cassettes/test_version/test_add_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_not_deprecated_version.yaml
  tests/extensions/cassettes/test_version/test_add_version.yaml
  tests/extensions/cassettes/test_version/test_all_links.yaml
  tests/extensions/cassettes/test_version/test_catalog_add_version.yaml
  tests/extensions/cassettes/test_version/test_catalog_validate_all.yaml
  tests/extensions/cassettes/test_version/test_collection_add_version.yaml
  tests/extensions/cassettes/test_version/test_latest.yaml
  tests/extensions/cassettes/test_version/test_predecessor.yaml
  tests/extensions/cassettes/test_version/test_successor.yaml
  tests/extensions/cassettes/test_version/test_version_in_properties.yaml
  tests/extensions/test_ext.py
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

feat: impl migration
  pystac/extensions/version.py
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

refactor: normalize import style
  tests/extensions/test_version.py
Due: black, flake8, mypy, isort

refactor: test import naming, ext
  tests/extensions/test_ext.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
