Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        args: []
        language: system
        stages: [commit]
        types: [python]

feat: add MGRS Extension
  CHANGELOG.md
  docs/api.rst
  docs/api/extensions/mgrs.rst
  pystac/__init__.py
  pystac/extensions/mgrs.py
  tests/conftest.py
  tests/data-files/mgrs/item.json
  tests/extensions/test_mgrs.py
Due: black, doc8, flake8, mypy, isort

feat: support multiple extension uris
  CHANGELOG.md
  pystac/__init__.py
  pystac/extensions/base.py
  pystac/extensions/grid.py
  pystac/extensions/label.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/serialization/migrate.py
  tests/conftest.py
  tests/extensions/test_grid.py
  tests/extensions/test_label.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
Due: black, flake8, mypy, isort

feat: add MGRS Extension
  CHANGELOG.md
  docs/api.rst
  docs/api/extensions/mgrs.rst
  pystac/__init__.py
  pystac/extensions/mgrs.py
  tests/data-files/mgrs/item.json
  tests/extensions/test_mgrs.py
Due: black, doc8, flake8, mypy, isort

feat: add debug logging on http requests
  CHANGELOG.md
  docs/concepts.rst
  pystac/stac_io.py
Due: black, doc8, flake8, mypy, isort

refactor: move to pyproject.toml
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  CHANGELOG.md
  MANIFEST.in
  README.md
  docs/contributing.rst
  pyproject.toml
  requirements-bench.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  setup.cfg
  setup.py
  tests/utils/stac_io_mock.py
Due: black, doc8, flake8, mypy, isort

fix: remove duplicate self links on items
  CHANGELOG.md
  pystac/item.py
  tests/conftest.py
  tests/test_item.py
Due: black, flake8, mypy, isort

release: v1.7.3
  CHANGELOG.md
  pystac/version.py
  setup.py
Due: black, flake8, mypy, isort

fix: raise error if writing to url
  CHANGELOG.md
  pystac/stac_io.py
  tests/test_stac_io.py
Due: black, flake8, mypy, isort

Allow nullable `stac_extensions`
  CHANGELOG.md
  pystac/serialization/migrate.py
  tests/serialization/test_migrate.py
Due: black, flake8, mypy, isort

`Link.to_dict()` should only contain strings
  pystac/link.py
  tests/test_link.py
Due: black, flake8, mypy, isort

Update changelog
  CHANGELOG.md
Due: none

Add keep_parent parameter to add_child and add_item #1116
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

feat: AssetDefinitions work with raster extension
  CHANGELOG.md
  pystac/extensions/item_assets.py
  pystac/extensions/raster.py
  tests/data-files/raster/landsat-collection-example.json
  tests/extensions/test_raster.py
Due: black, flake8, mypy, isort

Don't override parent link when determining hrefs #1116
  CHANGELOG.md
  pystac/catalog.py
  pystac/link.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

fix, bench: build w/ pyproject.toml
  .github/workflows/continuous-integration.yml
  asv.conf.json
Due: none

fix(#887): return all validation issues
  CHANGELOG.md
  pystac/validation/stac_validator.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

feat: Add KML to media types
  pystac/media_type.py
Due: black, flake8, mypy, isort

Use `_repr_json_` rather than `_repr_html_`
  MANIFEST.in
  mypy.ini
  pyproject.toml
  pystac/asset.py
  pystac/catalog.py
  pystac/collection.py
  pystac/html/Asset.jinja2
  pystac/html/Catalog.jinja2
  pystac/html/Collection.jinja2
  pystac/html/Item.jinja2
  pystac/html/ItemCollection.jinja2
  pystac/html/Link.jinja2
  pystac/html/Macros.jinja2
  pystac/html/Provider.jinja2
  pystac/html/__init__.py
  pystac/html/jinja_env.py
  pystac/item.py
  pystac/item_collection.py
  pystac/link.py
  pystac/provider.py
  pystac/stac_object.py
  tests/html/__init__.py
  tests/html/test_html.py
Due: black, flake8, mypy, isort

Rerun quickstart notebook
  docs/quickstart.ipynb
Due: none

Update eo version
  pystac/extensions/eo.py
  tests/data-files/eo/eo-collection.json
  tests/data-files/eo/eo-landsat-example.json
  tests/data-files/eo/eo-sentinel2-item.json
  tests/data-files/eo/sample-bands-in-item-properties.json
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Update eo version in all data-files
  tests/data-files/catalogs/cbers-partial/CBERS4AWFI/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4MUX/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN10M/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN5M/collection.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/collection.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_162740_ssc1d1/20170831_162740_ssc1d1.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_172754_101c/20170831_172754_101c.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_195425_SS02/20170831_195425_SS02.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/2017831_195552_SS02/2017831_195552_SS02.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/Houston-East-20170831-103f-100d-0f4f-RGB/Houston-East-20170831-103f-100d-0f4f-RGB.json
  tests/data-files/catalogs/test-case-5/CBERS4/CBERS4MUX/CBERS4-MUX-027/CBERS4-MUX-027/069/CBERS_4_MUX_20190510_027_069_L2/CBERS_4_MUX_20190510_027_069_L2.json
  tests/data-files/catalogs/test-case-5/CBERS4/CBERS4MUX/CBERS4-MUX-027/CBERS4-MUX-027/collection.json
  tests/data-files/examples/1.0.0-RC2/extended-item.json
  tests/data-files/examples/1.0.0/collection-only/collection-with-schemas.json
  tests/data-files/examples/1.0.0/collection-only/collection.json
  tests/data-files/examples/1.0.0/collection.json
  tests/data-files/examples/1.0.0/collectionless-item.json
  tests/data-files/examples/1.0.0/example-sentinel2.json
  tests/data-files/examples/1.0.0/extended-item.json
  tests/data-files/examples/1.0.0/extensions-collection/proj-example/proj-example.json
  tests/data-files/examples/example-info.csv
  tests/data-files/grid/example-landsat.json
  tests/data-files/grid/example-sentinel2.json
  tests/data-files/item-collection/sample-item-collection.json
  tests/data-files/projection/example-landsat8.json
  tests/data-files/projection/optional-epsg.json
  tests/data-files/raster/landsat-collection-example.json
  tests/data-files/raster/raster-planet-example.json
  tests/data-files/raster/raster-sentinel2-example.json
Due: none

Update eo version in non-tutorial docs files
  docs/concepts.rst
  docs/example-catalog/landsat-8-l1/2018-05/LC80150322018141LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80140332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80300332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-07/LC80150332018189LGN00.json
  docs/quickstart.ipynb
Due: doc8

ruff-update import order
  pystac/catalog.py
  pystac/extensions/raster.py
  tests/extensions/test_grid.py
  tests/extensions/test_label.py
  tests/extensions/test_mgrs.py
  tests/extensions/test_raster.py
Due: black, flake8, mypy, isort

enable ruff import sorting
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Don't convert stac_extensions to set
  pystac/serialization/identify.py
Due: black, flake8, mypy, isort
