Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: conftest\.py$
        require_serial: true

fix: consolidate core and top-level package in release-please
  .github/workflows/release.yml
  .release-please-manifest.json
  core/pyproject.toml
  release-please-config.json
Due: none

fix: consolidate core and top-level package in release-please (#1760)
  .github/workflows/release.yml
  .release-please-manifest.json
  core/pyproject.toml
  release-please-config.json
Due: none

fix: more release-please flailing
  core/pyproject.toml
  release-please-config.json
  uv.lock
Due: none

fix: more release-please flailing (#1762)
  core/pyproject.toml
  release-please-config.json
  uv.lock
Due: none

fix: circular imports for extensions
  core/pystac/__init__.py
  core/pystac/asset.py
  core/pystac/catalog.py
  core/pystac/collection.py
  core/pystac/errors.py
  core/pystac/extensions/hooks.py
  core/pystac/item.py
  core/pystac/item_assets.py
  core/pystac/link.py
  extensions/classification/pyproject.toml
  extensions/datacube/pyproject.toml
  extensions/eo/pyproject.toml
  extensions/file/pyproject.toml
  extensions/grid/pyproject.toml
  extensions/item_assets/pyproject.toml
  extensions/label/pyproject.toml
  extensions/mgrs/pyproject.toml
  extensions/mlm/pyproject.toml
  extensions/pointcloud/pyproject.toml
  extensions/projection/pyproject.toml
  extensions/raster/pyproject.toml
  extensions/sar/pyproject.toml
  extensions/sat/pyproject.toml
  extensions/scientific/pyproject.toml
  extensions/storage/pyproject.toml
  extensions/table/pyproject.toml
  extensions/timestamps/pyproject.toml
  extensions/version/pyproject.toml
  extensions/version/pystac/extensions/version.py
  extensions/view/pyproject.toml
  extensions/xarray_assets/pyproject.toml
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: mypy

fix: circular imports for extensions (#1764)
  core/pystac/__init__.py
  core/pystac/asset.py
  core/pystac/catalog.py
  core/pystac/collection.py
  core/pystac/errors.py
  core/pystac/extensions/hooks.py
  core/pystac/item.py
  core/pystac/item_assets.py
  core/pystac/link.py
  extensions/classification/pyproject.toml
  extensions/datacube/pyproject.toml
  extensions/eo/pyproject.toml
  extensions/file/pyproject.toml
  extensions/grid/pyproject.toml
  extensions/item_assets/pyproject.toml
  extensions/label/pyproject.toml
  extensions/mgrs/pyproject.toml
  extensions/mlm/pyproject.toml
  extensions/pointcloud/pyproject.toml
  extensions/projection/pyproject.toml
  extensions/raster/pyproject.toml
  extensions/sar/pyproject.toml
  extensions/sat/pyproject.toml
  extensions/scientific/pyproject.toml
  extensions/storage/pyproject.toml
  extensions/table/pyproject.toml
  extensions/timestamps/pyproject.toml
  extensions/version/pyproject.toml
  extensions/version/pystac/extensions/version.py
  extensions/view/pyproject.toml
  extensions/xarray_assets/pyproject.toml
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: mypy

refactor mlm ext to new extension framework
  core/pystac/extensions/ext.py
  extensions/mlm/pystac/extensions/mlm.py
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_basic.json-1.0.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_basic.json-1.1.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_basic.json-1.2.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_basic.json-1.3.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_multi_io.json-1.0.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_multi_io.json-1.1.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_multi_io.json-1.2.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_multi_io.json-1.3.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_raster_bands.json-1.0.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_raster_bands.json-1.1.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_raster_bands.json-1.2.0].yaml
  extensions/mlm/tests/cassettes/test_mlm/test_migrate[https---raw.githubusercontent.com-stac-extensions-mlm-refs-tags-v{version}-examples-item_raster_bands.json-1.3.0].yaml
  extensions/mlm/tests/test_mlm.py
Due: mypy

added types-requests to dev dependencies
  pyproject.toml
  uv.lock
Due: none

removed type:ignore comments to pass mypy checks
  core/pystac/utils.py
Due: mypy

adjusted ext version
  extensions/mlm/pyproject.toml
Due: none

chore: fix asv runs for new asv version
  asv.conf.json
Due: none

chore: bump asv
  uv.lock
Due: none

chore: remove unused type: ignore
  core/pystac/utils.py
Due: mypy

chore: bump asv version, fix asv config (#1779)
  asv.conf.json
  core/pystac/utils.py
  uv.lock
Due: mypy

fix: `uv run pre-commit run --all-files` now passes on "test (3.11, macos-latest)"
  extensions/earthquake/pystac/extensions/earthquake.py
  extensions/insar/pystac/extensions/insar.py
  extensions/order/pystac/extensions/order.py
  extensions/sentinel1/pystac/extensions/sentinel1.py
  extensions/sentinel1/tests/test_sentinel1.py
  extensions/sentinel2/pystac/extensions/sentinel2.py
  extensions/sentinel2/tests/test_sentinel2.py
  extensions/sentinel3/pystac/extensions/sentinel3.py
  extensions/sentinel3/tests/test_sentinel3.py
Due: mypy

fix: `uv run make -C docs html SPHINXOPTS="-W --keep-going -n"` execution
  docs/api/extensions/sentinel3.rst
  docs/conf.py
  extensions/earthquake/pystac/extensions/earthquake.py
Due: doc8, mypy

fix: added missing `product:status` support
  docs/api/extensions/product.rst
  extensions/product/pystac/extensions/product.py
  extensions/product/tests/test_product.py
Due: doc8, mypy

feat: implement earthquake STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/earthquake.rst
  docs/conf.py
  extensions/earthquake/README.md
  extensions/earthquake/pyproject.toml
  extensions/earthquake/pystac/extensions/earthquake.py
  extensions/earthquake/pystac/extensions/py.typed
  extensions/earthquake/tests/test_earthquake.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement InSAR STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/insar.rst
  docs/conf.py
  extensions/insar/README.md
  extensions/insar/pyproject.toml
  extensions/insar/pystac/extensions/insar.py
  extensions/insar/pystac/extensions/py.typed
  extensions/insar/tests/test_insar.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Order STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/order.rst
  docs/conf.py
  extensions/order/README.md
  extensions/order/pyproject.toml
  extensions/order/pystac/extensions/order.py
  extensions/order/pystac/extensions/py.typed
  extensions/order/tests/test_order.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Processing STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/processing.rst
  docs/conf.py
  extensions/processing/README.md
  extensions/processing/pyproject.toml
  extensions/processing/pystac/extensions/processing.py
  extensions/processing/pystac/extensions/py.typed
  extensions/processing/tests/test_processing.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Product STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/product.rst
  docs/conf.py
  extensions/product/README.md
  extensions/product/pyproject.toml
  extensions/product/pystac/extensions/product.py
  extensions/product/pystac/extensions/py.typed
  extensions/product/tests/test_product.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Sentinel-1 STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/sentinel1.rst
  docs/conf.py
  extensions/sentinel1/README.md
  extensions/sentinel1/pyproject.toml
  extensions/sentinel1/pystac/extensions/py.typed
  extensions/sentinel1/pystac/extensions/sentinel1.py
  extensions/sentinel1/tests/cassettes/test_sentinel1/test_apply_and_validate.yaml
  extensions/sentinel1/tests/cassettes/test_sentinel1/test_no_args_fails.yaml
  extensions/sentinel1/tests/test_sentinel1.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Sentinel-2 STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/sentinel2.rst
  docs/conf.py
  extensions/sentinel2/README.md
  extensions/sentinel2/pyproject.toml
  extensions/sentinel2/pystac/extensions/py.typed
  extensions/sentinel2/pystac/extensions/sentinel2.py
  extensions/sentinel2/tests/cassettes/test_sentinel2/test_apply_and_validate.yaml
  extensions/sentinel2/tests/cassettes/test_sentinel2/test_no_args_fails.yaml
  extensions/sentinel2/tests/cassettes/test_sentinel2/test_no_args_validate.yaml
  extensions/sentinel2/tests/test_sentinel2.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Sentinel-3 STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/sentinel3.rst
  docs/conf.py
  extensions/sentinel3/README.md
  extensions/sentinel3/pyproject.toml
  extensions/sentinel3/pystac/extensions/py.typed
  extensions/sentinel3/pystac/extensions/sentinel3.py
  extensions/sentinel3/tests/cassettes/test_sentinel3/test_apply_and_validate.yaml
  extensions/sentinel3/tests/cassettes/test_sentinel3/test_no_args_fails.yaml
  extensions/sentinel3/tests/test_sentinel3.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Themes STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/themes.rst
  docs/conf.py
  extensions/themes/README.md
  extensions/themes/pyproject.toml
  extensions/themes/pystac/extensions/py.typed
  extensions/themes/pystac/extensions/themes.py
  extensions/themes/tests/test_themes.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

feat: implement Open Science Catalog STAC Extension
  docs/api/extensions.rst
  docs/api/extensions/osc.rst
  docs/conf.py
  extensions/osc/README.md
  extensions/osc/pyproject.toml
  extensions/osc/pystac/extensions/osc.py
  extensions/osc/pystac/extensions/py.typed
  extensions/osc/tests/test_osc.py
  pyproject.toml
  pystac/extensions/ext.py
  uv.lock
Due: doc8, mypy

chore: fix release-please, yet again
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

chore: fix release-please, yet again (#1793)
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

docs: tweak how we version extension packages
  README.md
Due: none

docs: tweak how we version extension packages (#1796)
  README.md
Due: none

chore: downgrade main package, we only want to release extensions
  .release-please-manifest.json
  CHANGELOG.md
  core/pystac/version.py
  pyproject.toml
  uv.lock
Due: mypy

perf: copy an asset without copying its owner
  core/pystac/asset.py
  tests/test_asset.py
Due: mypy

chore: benchmark asset copying
  benchmarks/item.py
Due: mypy

feat: add octet-stream and zip media types
  core/pystac/media_type.py
  tests/test_media_type.py
Due: mypy

docs: reflect that PySTAC writes STAC v1.1.0 by default
  docs/index.rst
Due: doc8

fix: recursively convert values in PropertiesExtension._set_property
  core/pystac/extensions/base.py
  tests/extensions/test_custom.py
Due: mypy

test: compare MediaType values as strings
  tests/test_media_type.py
Due: mypy

fix: recursively convert values in PropertiesExtension._set_property (#1804)
  core/pystac/extensions/base.py
  tests/extensions/test_custom.py
Due: mypy
