Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

Update changelog
  CHANGELOG.md
Due: none

Simplify html a bit
  docs/quickstart.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  pystac/html/JSON.jinja2
  pystac/html/Macros.jinja2
Due: none

Remove a few spaces
  pystac/html/JSON.jinja2
  pystac/html/Macros.jinja2
Due: none

Make `_repr_html_` look like `_repr_json_` output (#1142)
  CHANGELOG.md
  docs/quickstart.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  pystac/asset.py
  pystac/catalog.py
  pystac/collection.py
  pystac/html/Asset.jinja2
  pystac/html/Catalog.jinja2
  pystac/html/Collection.jinja2
  pystac/html/Item.jinja2
  pystac/html/ItemCollection.jinja2
  pystac/html/JSON.jinja2
  pystac/html/Link.jinja2
  pystac/html/Macros.jinja2
  pystac/html/Provider.jinja2
  pystac/html/jinja_env.py
  pystac/item.py
  pystac/item_collection.py
  pystac/link.py
  pystac/provider.py
  pystac/stac_object.py
  tests/html/test_html.py
Due: black, flake8, mypy, isort

Add a tutorial showing how to read data using xpystac
  docs/tutorials.rst
  docs/tutorials/how-to-read-data-from-stac.ipynb
Due: doc8

Remove tutorials/example-catalog
  docs/tutorials/example-catalog/catalog.json
  docs/tutorials/example-catalog/eo/catalog.json
  docs/tutorials/example-catalog/eo/landsat-8-l1/catalog.json
  docs/tutorials/example-catalog/eo/landsat-8-l1/item.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/catalog.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/sentinel-2a/catalog.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/sentinel-2a/item.json
  docs/tutorials/pystac-introduction.ipynb
Due: none

Add optional jinja2 dependency (#1144)
  README.md
  docs/installation.rst
  pyproject.toml
Due: doc8

Update changelog [skip ci]
  CHANGELOG.md
Due: none

Tidy
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Only count items
  pystac/catalog.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Let user declare max number of objects to validate in `Catalog.validate_all`
  pystac/catalog.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

`add_if_missing` should always be optional and default to false
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

Remove tutorials/example-catalog (#1145)
  docs/tutorials/example-catalog/catalog.json
  docs/tutorials/example-catalog/eo/catalog.json
  docs/tutorials/example-catalog/eo/landsat-8-l1/catalog.json
  docs/tutorials/example-catalog/eo/landsat-8-l1/item.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/catalog.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/sentinel-2a/catalog.json
  docs/tutorials/example-catalog/eo/sentinel-2-l1c/sentinel-2a/item.json
  docs/tutorials/pystac-introduction.ipynb
Due: none

Update docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/how-to-read-data-from-stac.ipynb
Due: none

`add_if_missing` should always be optional and default to false (#1147)
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

Add a tutorial showing how to read data using xpystac (#1146)
  docs/tutorials.rst
  docs/tutorials/how-to-read-data-from-stac.ipynb
Due: doc8

Get rid of inheritance, add autosummary in some places (#1137)
  docs/api/extensions.rst
  docs/api/extensions/base.rst
  docs/api/extensions/classification.rst
  docs/api/extensions/datacube.rst
  docs/api/extensions/eo.rst
  docs/api/extensions/file.rst
  docs/api/extensions/grid.rst
  docs/api/extensions/hooks.rst
  docs/api/extensions/item_assets.rst
  docs/api/extensions/label.rst
  docs/api/extensions/mgrs.rst
  docs/api/extensions/pointcloud.rst
  docs/api/extensions/projection.rst
  docs/api/extensions/raster.rst
  docs/api/extensions/sar.rst
  docs/api/extensions/sat.rst
  docs/api/extensions/scientific.rst
  docs/api/extensions/storage.rst
  docs/api/extensions/table.rst
  docs/api/extensions/timestamps.rst
  docs/api/extensions/version.rst
  docs/api/extensions/view.rst
  docs/api/pystac.rst
  docs/api/serialization/common_properties.rst
  docs/api/serialization/identify.rst
  docs/api/serialization/migrate.rst
  docs/api/validation/schema_uri_map.rst
  docs/api/validation/stac_validator.rst
  docs/conf.py
Due: black, doc8, flake8, mypy, isort

Allow more configuration with `Catalog.validate_all` (#1150)
  CHANGELOG.md
  pystac/catalog.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

chore: CHANGELOG.md KML add
  CHANGELOG.md
Due: none

Feat/add kml (#1151)
  CHANGELOG.md
  pystac/media_type.py
Due: black, flake8, mypy, isort

Add an attribute to the class to mark if it is an orphan
  pystac/catalog.py
  pystac/link.py
Due: black, flake8, mypy, isort

Add example using summaries in docs
  docs/concepts.rst
Due: doc8

Include hint about summaries if appropriate
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/file.py
  pystac/extensions/grid.py
  pystac/extensions/item_assets.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/scientific.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  tests/data-files/examples/1.0.0/collection.json
  tests/extensions/test_custom.py
  tests/extensions/test_datacube.py
  tests/extensions/test_eo.py
  tests/extensions/test_file.py
  tests/extensions/test_grid.py
  tests/extensions/test_label.py
  tests/extensions/test_pointcloud.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/extensions/test_sar.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_table.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_version.py
  tests/extensions/test_view.py
  tests/serialization/test_migrate.py
Due: black, flake8, mypy, isort

Update pystac/extensions/base.py
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

Add tests for MGRS and classification, clean up punctuation
  pystac/extensions/base.py
  tests/extensions/test_classification.py
  tests/extensions/test_eo.py
  tests/extensions/test_mgrs.py
Due: black, flake8, mypy, isort

Use @m-mohr's suggestion for when to set `self_href`
  pystac/catalog.py
Due: black, flake8, mypy, isort

Add test based on example
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Fix copy/paste
  tests/extensions/test_datacube.py
Due: black, flake8, mypy, isort

Add a bit more test coverage for datacube ext (#1143)
  pystac/extensions/datacube.py
  tests/data-files/datacube/item.json
  tests/extensions/test_datacube.py
Due: black, flake8, mypy, isort

Add move/copy/delete methods on Asset
  pystac/asset.py
  pystac/collection.py
  pystac/item.py
  tests/conftest.py
  tests/test_asset.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Change `keep_parent` to `set_parent`
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/link.py
  pystac/stac_object.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Update pystac/asset.py
  pystac/asset.py
Due: black, flake8, mypy, isort

Improve docs and add changelog entry
  CHANGELOG.md
  pystac/asset.py
  pystac/collection.py
  pystac/item.py
Due: black, flake8, mypy, isort

Add move/copy/delete methods on Asset (#1158)
  CHANGELOG.md
  pystac/asset.py
  pystac/collection.py
  pystac/item.py
  tests/conftest.py
  tests/test_asset.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
