Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.18.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        require_serial: true

feat: update readme
  README.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Add Collection.from_items
  pystac/collection.py
  tests/conftest.py
  tests/test_collection.py
Due: mypy

Fix datetime for python 3.10
  tests/test_collection.py
Due: mypy

More tests, fix docs
  docs/conf.py
  pystac/collection.py
  tests/test_collection.py
Due: mypy

993 convert CatalogTypeTest to pytest
  tests/test_catalog.py
Due: mypy

993 convert FullCopyTest to pytest
  tests/test_catalog.py
Due: mypy

Use `Collection` rather than TypeVar
  docs/api/pystac.rst
  docs/conf.py
  pystac/collection.py
Due: doc8, mypy

Update changelog
  CHANGELOG.md
Due: none

objections -> objects
  pystac/catalog.py
  pystac/collection.py
Due: mypy

993 finish converting test_catalog.py:
  tests/test_catalog.py
Due: mypy

993 convert asserts to pytest in test_layout.py
  tests/test_layout.py
Due: mypy

Add `Collection.from_items` (#1522)
  CHANGELOG.md
  docs/api/pystac.rst
  pystac/catalog.py
  pystac/collection.py
  tests/conftest.py
  tests/test_collection.py
Due: doc8, mypy

993 finish basic conversion of test_layout.py to pytest
  tests/test_layout.py
Due: mypy

993 ruff's opinions on test_layout.py
  tests/test_layout.py
Due: mypy

993 mypy found incorrect assertion revisions
  tests/test_layout.py
Due: mypy

feat: add scripts folder
  scripts/format
  scripts/lint
Due: none

fix(ci): add github pages permissions
  .github/workflows/ci.yaml
Due: none

fix(ci): --extra flag
  .github/workflows/ci.yaml
Due: none

chore: disable windoze in CI
  .github/workflows/ci.yaml
Due: none

feat: add docs warning
  docs/index.md
Due: none

feat: first v1 test
  pyproject.toml
  src/pystac/extent.py
  src/pystac/stac_object.py
  tests/test_extent.py
  tests/test_item.py
  tests/v1/__init__.py
  tests/v1/conftest.py
  tests/v1/data-files/item/sample-item.json
  tests/v1/test_item.py
  tests/v1/utils.py
  uv.lock
Due: mypy

ci: run CI on v2 pull requests
  .github/workflows/ci.yaml
Due: none

feat: add assets mixin
  pyproject.toml
  src/pystac/asset.py
  src/pystac/item.py
  src/pystac/stac_object.py
  tests/v1/utils.py
  uv.lock
Due: mypy

fix: only try to deploy if we're on v2 branch
  .github/workflows/ci.yaml
Due: none

feat(v2): first v1 test (#1523)
  .github/workflows/ci.yaml
  pyproject.toml
  src/pystac/asset.py
  src/pystac/extent.py
  src/pystac/item.py
  src/pystac/stac_object.py
  tests/test_extent.py
  tests/test_item.py
  tests/v1/__init__.py
  tests/v1/conftest.py
  tests/v1/data-files/item/sample-item.json
  tests/v1/test_item.py
  tests/v1/utils.py
  uv.lock
Due: mypy

docs: just build readthedocs
  .readthedocs.yaml
Due: none

fix: add html to output dir
  .readthedocs.yaml
Due: none

feat(v2): build readthedocs (#1525)
  .readthedocs.yaml
Due: none

feat: add get_root
  src/pystac/stac_object.py
  tests/v1/test_item.py
Due: mypy

feat(v2): asset hrefs
  src/pystac/__init__.py
  src/pystac/asset.py
  src/pystac/constants.py
  src/pystac/container.py
  src/pystac/deprecate.py
  src/pystac/extent.py
  src/pystac/functions.py
  src/pystac/io.py
  src/pystac/item.py
  src/pystac/link.py
  src/pystac/media_type.py
  src/pystac/render.py
  src/pystac/stac_io.py
  src/pystac/stac_object.py
  src/pystac/utils.py
  tests/test_item.py
  tests/test_render.py
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/cf73ec1a-d790-4b59-b077-e101738571ed/cf73ec1a-d790-4b59-b077-e101738571ed.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/cf73ec1a-d790-4b59-b077-e101738571ed/data.geojson
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/d43bead8-e3f8-4c51-95d6-e24e750a402b/d43bead8-e3f8-4c51-95d6-e24e750a402b.json
  tests/v1/data-files/catalogs/test-case-2/catalog.json
  tests/v1/test_item.py
  tests/v1/utils.py
Due: mypy

fix: typing
  src/pystac/__init__.py
  src/pystac/item.py
  src/pystac/stac_object.py
Due: mypy

feat(v2): asset hrefs (#1526)
  src/pystac/__init__.py
  src/pystac/asset.py
  src/pystac/constants.py
  src/pystac/container.py
  src/pystac/deprecate.py
  src/pystac/extent.py
  src/pystac/functions.py
  src/pystac/io.py
  src/pystac/item.py
  src/pystac/link.py
  src/pystac/media_type.py
  src/pystac/render.py
  src/pystac/stac_io.py
  src/pystac/stac_object.py
  src/pystac/utils.py
  tests/test_item.py
  tests/test_render.py
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/cf73ec1a-d790-4b59-b077-e101738571ed/cf73ec1a-d790-4b59-b077-e101738571ed.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/cf73ec1a-d790-4b59-b077-e101738571ed/data.geojson
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/collection.json
  tests/v1/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/d43bead8-e3f8-4c51-95d6-e24e750a402b/d43bead8-e3f8-4c51-95d6-e24e750a402b.json
  tests/v1/data-files/catalogs/test-case-2/catalog.json
  tests/v1/test_item.py
  tests/v1/utils.py
Due: mypy

fix: lints
  src/pystac/item.py
  src/pystac/stac_object.py
  src/pystac/utils.py
Due: mypy

993 convert test_link.py to pytest
  tests/test_link.py
Due: mypy

993 won't pass ruff & mypy without these changes
  tests/test_link.py
Due: mypy

993 progress: Convert `test_catalog.py`, `test_layout.py` and `test_link.py` to pytest (#1527)
  tests/test_catalog.py
  tests/test_layout.py
  tests/test_link.py
Due: mypy

993 replace asserts
  tests/test_summaries.py
Due: mypy
