Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

fix: import sorting
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Update eo version
  pystac/extensions/eo.py
  tests/data-files/eo/eo-collection.json
  tests/data-files/eo/eo-landsat-example.json
  tests/data-files/eo/eo-sentinel2-item.json
  tests/data-files/eo/sample-bands-in-item-properties.json
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Update eo version in non-tutorial docs files
  docs/concepts.rst
  docs/example-catalog/landsat-8-l1/2018-05/LC80150322018141LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80140332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80300332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-07/LC80150332018189LGN00.json
  docs/quickstart.ipynb
Due: doc8

Update changelog
  CHANGELOG.md
Due: none

Update eo version in all data-files
  tests/data-files/catalogs/cbers-partial/CBERS4AWFI/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4MUX/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN10M/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN5M/collection.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/collection.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_162740_ssc1d1/20170831_162740_ssc1d1.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_172754_101c/20170831_172754_101c.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/20170831_195425_SS02/20170831_195425_SS02.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/2017831_195552_SS02/2017831_195552_SS02.json
  tests/data-files/catalogs/planet-example-v1.0.0-beta.2/hurricane-harvey/hurricane-harvey-0831/Houston-East-20170831-103f-100d-0f4f-RGB/Houston-East-20170831-103f-100d-0f4f-RGB.json
  tests/data-files/catalogs/test-case-5/CBERS4/CBERS4MUX/CBERS4-MUX-027/CBERS4-MUX-027/069/CBERS_4_MUX_20190510_027_069_L2/CBERS_4_MUX_20190510_027_069_L2.json
  tests/data-files/catalogs/test-case-5/CBERS4/CBERS4MUX/CBERS4-MUX-027/CBERS4-MUX-027/collection.json
  tests/data-files/examples/1.0.0-RC2/extended-item.json
  tests/data-files/examples/1.0.0/collection-only/collection-with-schemas.json
  tests/data-files/examples/1.0.0/collection-only/collection.json
  tests/data-files/examples/1.0.0/collection.json
  tests/data-files/examples/1.0.0/collectionless-item.json
  tests/data-files/examples/1.0.0/example-sentinel2.json
  tests/data-files/examples/1.0.0/extended-item.json
  tests/data-files/examples/1.0.0/extensions-collection/proj-example/proj-example.json
  tests/data-files/examples/example-info.csv
  tests/data-files/grid/example-landsat.json
  tests/data-files/grid/example-sentinel2.json
  tests/data-files/item-collection/sample-item-collection.json
  tests/data-files/projection/example-landsat8.json
  tests/data-files/projection/optional-epsg.json
  tests/data-files/raster/landsat-collection-example.json
  tests/data-files/raster/raster-planet-example.json
  tests/data-files/raster/raster-sentinel2-example.json
Due: none

change STACTypeError to create short informative message
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/errors.py
  pystac/item.py
  pystac/item_collection.py
  pystac/serialization/identify.py
  tests/data-files/catalogs/invalid-catalog/catalog.json
  tests/serialization/test_identify.py
  tests/test_catalog.py
  tests/utils/test_cases.py
Due: black, flake8, mypy, isort

fix: windows hrefs
  CHANGELOG.md
  pystac/__init__.py
  pystac/asset.py
  pystac/layout.py
  pystac/link.py
  pystac/stac_io.py
  pystac/stac_object.py
  pystac/utils.py
  tests/data-files/windows_hrefs/catalog.json
  tests/data-files/windows_hrefs/test-collection/collection.json
  tests/data-files/windows_hrefs/test-collection/test-item/test-asset.txt
  tests/data-files/windows_hrefs/test-collection/test-item/test-item.json
  tests/posix_paths/__init__.py
  tests/posix_paths/test_posix_paths.py
  tests/test_catalog.py
  tests/test_item.py
  tests/test_layout.py
  tests/test_link.py
  tests/test_utils.py
  tests/utils/stac_io_mock.py
Due: black, flake8, mypy, isort

feat: add classification extension
  CHANGELOG.md
  pystac/__init__.py
  pystac/extensions/classification.py
  tests/data-files/classification/classification-landsat-example.json
  tests/data-files/classification/classification_landsat_example.json
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/data-files/classification/collection-item-assets.json
  tests/extensions/test_classification.py
Due: black, flake8, mypy, isort

Add `get_derived_from` and `set_derived_from` to pystac.Item
  pystac/item.py
  pystac/link.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Change to add/remove
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Add error handling
  pystac/item.py
  pystac/link.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Add `get/add/remove_derived_from` to pystac.Item (#1136)
  CHANGELOG.md
  pystac/item.py
  pystac/link.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Get rid of inheritance, add autosummary in some places
  docs/api/extensions.rst
  docs/api/extensions/base.rst
  docs/api/extensions/classification.rst
  docs/api/extensions/datacube.rst
  docs/api/extensions/eo.rst
  docs/api/extensions/file.rst
  docs/api/extensions/grid.rst
  docs/api/extensions/hooks.rst
  docs/api/extensions/item_assets.rst
  docs/api/extensions/label.rst
  docs/api/extensions/mgrs.rst
  docs/api/extensions/pointcloud.rst
  docs/api/extensions/projection.rst
  docs/api/extensions/raster.rst
  docs/api/extensions/sar.rst
  docs/api/extensions/sat.rst
  docs/api/extensions/scientific.rst
  docs/api/extensions/storage.rst
  docs/api/extensions/table.rst
  docs/api/extensions/timestamps.rst
  docs/api/extensions/version.rst
  docs/api/extensions/view.rst
  docs/api/pystac.rst
  docs/api/serialization/common_properties.rst
  docs/api/serialization/identify.rst
  docs/api/serialization/migrate.rst
  docs/api/validation/schema_uri_map.rst
  docs/api/validation/stac_validator.rst
  docs/conf.py
Due: black, doc8, flake8, mypy, isort

Make sure that get_items is backwards compatible
  pystac/catalog.py
  pystac/collection.py
Due: black, flake8, mypy, isort

Add `ItemEOExtension.get_assets`
  pystac/extensions/eo.py
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Update pystac/extensions/eo.py
  pystac/extensions/eo.py
Due: black, flake8, mypy, isort

Ensure tests pass even if bands are incomplete
  pystac/extensions/eo.py
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Add tests
  pystac/catalog.py
  tests/test_catalog.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

Better logic
  pystac/extensions/eo.py
Due: black, flake8, mypy, isort

Add comment to make tests clearer
  tests/test_catalog.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

Make the TypeError check more precise
  pystac/collection.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

Don't convert stac_extensions to set (#1133)
  pystac/serialization/identify.py
Due: black, flake8, mypy, isort

Make sure that get_items is backwards compatible (#1139)
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

Get assets by eo:bands common_name or name (#1140)
  CHANGELOG.md
  pystac/extensions/eo.py
  tests/extensions/test_eo.py
Due: black, flake8, mypy, isort

Make html repr look like json repr
  pystac/asset.py
  pystac/catalog.py
  pystac/collection.py
  pystac/html/Asset.jinja2
  pystac/html/Catalog.jinja2
  pystac/html/Collection.jinja2
  pystac/html/Item.jinja2
  pystac/html/ItemCollection.jinja2
  pystac/html/JSON.jinja2
  pystac/html/Link.jinja2
  pystac/html/Macros.jinja2
  pystac/html/Provider.jinja2
  pystac/html/jinja_env.py
  pystac/item.py
  pystac/item_collection.py
  pystac/link.py
  pystac/provider.py
  pystac/stac_object.py
Due: black, flake8, mypy, isort

Make index start at 0
  pystac/html/Macros.jinja2
Due: none

Make sure little triangle shows up in jupyter notebook
  pystac/html/Macros.jinja2
Due: none

Fix indentation
  pystac/html/JSON.jinja2
  pystac/html/Macros.jinja2
Due: none

Add tests for more objects
  tests/html/test_html.py
Due: black, flake8, mypy, isort

Add a bit more test coverage for datacube ext
  pystac/extensions/datacube.py
  tests/data-files/datacube/item.json
  tests/extensions/test_datacube.py
Due: black, flake8, mypy, isort

Add optional jinja2 dependency
  README.md
  docs/installation.rst
  pyproject.toml
Due: doc8

Update some notebooks
  docs/quickstart.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
Due: none

Do not transform hrefs
  pystac/stac_object.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
