Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: conftest\.py$
        require_serial: true

feat: cf extension added
  core/pystac/__init__.py
Due: mypy

doc: changelog updated
  CHANGELOG.md
Due: none

fix: rm cf from 1.14.2
  CHANGELOG.md
Due: none

fix: return immutable dict
  extensions/cf/pystac/extensions/cf.py
Due: mypy

feat: cf extension added
  pyproject.toml
  uv.lock
Due: none

fix: cf extension test for collections added
  extensions/cf/tests/data-files/cf-collection.json
  extensions/cf/tests/test_cf.py
Due: mypy

fix: wrap long line in test_parameters_set
  extensions/cf/tests/test_cf.py
Due: mypy

docs: add CF extension API reference
  docs/api/extensions.rst
  docs/api/extensions/cf.rst
Due: doc8

fix: asv (benchmarking)
  .github/workflows/continuous-integration.yml
  asv.conf.json
Due: none

Handled asset migration and deprecation warnings
  docs/quickstart.ipynb
  extensions/eo/pystac/extensions/eo.py
  extensions/eo/tests/data-files/eo-asset-example.json
  extensions/eo/tests/data-files/examples/1.1/asset-spec/examples/sample-asset.json
  extensions/eo/tests/test_eo.py
  extensions/raster/pystac/extensions/raster.py
Due: mypy

Changed eo+raster README
  extensions/eo/README.md
  extensions/raster/README.md
Due: none

fix: benchmark path
  benchmarks/item.py
Due: mypy

fix: type error
  tests/test_utils.py
  uv.lock
Due: mypy

test: verifies self links exist
  tests/v1/posix_paths/test_posix_paths.py
Due: mypy

feat: restore convenience methods for Link
  src/pystac/link.py
Due: mypy

doc: comment around link target/href handling subtlety
  tests/v1/test_link.py
Due: mypy

test: make link check windows compatible
  tests/v1/test_link.py
Due: mypy

feat: restore Link.resolve_stac_object
  src/pystac/link.py
  tests/v1/test_link.py
Due: mypy

cleanup: revert unnecessary changes
  tests/v1/test_link.py
Due: mypy

test: v2 compatibility update of v1/test_link
  tests/v1/conftest.py
  tests/v1/test_link.py
Due: mypy

test: re-enable test that relative self hrefs are promoted to absolute
  tests/v1/test_link.py
Due: mypy

restore methods with deprecation to minimize friction
  src/pystac/link.py
Due: mypy

restore additional convenience methods
  src/pystac/link.py
Due: mypy

fix: type error (#1705)
  tests/test_utils.py
  uv.lock
Due: mypy

Update asv.conf.json
  asv.conf.json
Due: none

fix: asv (benchmarking) (#1704)
  .github/workflows/continuous-integration.yml
  asv.conf.json
  benchmarks/item.py
Due: mypy

feedback: consume and warn if extra_fields in Link init kwargs
  src/pystac/link.py
  tests/v1/test_link.py
Due: mypy

remove unnecessary typing change
  tests/v1/test_link.py
Due: mypy

fix #1706
  README.md
Due: none

Handled retrocompatibility for other packages
  core/pystac/band.py
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/pystac-introduction.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
  extensions/classification/pystac/extensions/classification.py
  extensions/classification/tests/test_classification.py
  extensions/eo/pystac/extensions/eo.py
  extensions/eo/tests/test_eo.py
  extensions/raster/pystac/extensions/raster.py
  extensions/raster/tests/test_raster.py
Due: mypy

Reinforced test cover
  extensions/eo/tests/test_eo.py
  tests/data-files/item/sample-item-asset-properties.json
  tests/html/test_html.py
  tests/test_common_metadata.py
Due: mypy

Added ssys + first item validation test w/ episodes
  extensions/ssys/README.md
  extensions/ssys/pyproject.toml
  extensions/ssys/pystac/extensions/py.typed
  extensions/ssys/pystac/extensions/ssys.py
  extensions/ssys/tests/cassettes/test_ssys/test_item_validate_schema.yaml
  extensions/ssys/tests/data-files/catalog.json
  extensions/ssys/tests/data-files/collection.json
  extensions/ssys/tests/data-files/item.json
  extensions/ssys/tests/test_ssys.py
Due: mypy

Quickfix: version bump in extensions' pyproject.toml
  extensions/eo/pyproject.toml
  extensions/raster/pyproject.toml
Due: none

Fix item_collection
  src/pystac/item.py
  src/pystac/item_collection.py
  tests/v1/test_item_collection.py
Due: mypy

Fix static fields file
  scripts/pull-static
  src/pystac/static/__init__.py
  src/pystac/static/fields-normalized.json
Due: mypy

Make Item Properties a `MutableMapping`
  src/pystac/item.py
  tests/v1/test_summaries.py
Due: mypy

Simplify `Summaries`
  src/pystac/__init__.py
  src/pystac/collection.py
  src/pystac/extensions/base.py
  src/pystac/summaries.py
  tests/v1/test_collection.py
Due: mypy

Refined ssys extension with hooks and tests
  extensions/ssys/pystac/extensions/ssys.py
  extensions/ssys/tests/cassettes/test_ssys/test_item_validate_schema.yaml
  extensions/ssys/tests/data-files/item.json
  extensions/ssys/tests/test_ssys.py
Due: mypy

Edited release-please config and manifest
  .release-please-manifest.json
  release-please-config.json
Due: none

Edited release-please-manifest for eo and raster
  .release-please-manifest.json
Due: none
