Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - "--py39-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        stages: [commit]
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi, jupyter]
        additional_dependencies: ["black[jupyter]"]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

Update docstring of `name` argument to `Classification.apply` to agree with extension specification (#1356)
  CHANGELOG.md
  pystac/extensions/classification.py
Due: ruff, black, mypy

feat: implement classification v2.0.0
  CHANGELOG.md
  pystac/extensions/classification.py
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/extensions/cassettes/test_classification/test_apply_bitfields.yaml
  tests/extensions/cassettes/test_classification/test_validate_classification.yaml
  tests/extensions/test_classification.py
Due: ruff, black, mypy

Make `get_all_collections` properly recursive
  pystac/catalog.py
  tests/test_catalog.py
Due: ruff, black, mypy

Update pystac/extensions/classification.py
  pystac/extensions/classification.py
Due: ruff, black, mypy

fix: don't change arg order
  pystac/extensions/classification.py
Due: ruff, black, mypy

fix: allow None when returning description
  pystac/extensions/classification.py
Due: ruff, black, mypy

Update changelog
  CHANGELOG.md
Due: none

Make `get_all_collections` properly recursive (#1361)
  CHANGELOG.md
  pystac/catalog.py
  tests/test_catalog.py
Due: ruff, black, mypy

fix(docs): docstring for nodata didn't make sense
  pystac/extensions/classification.py
Due: ruff, black, mypy

fix: check for `None` name
  pystac/extensions/classification.py
Due: ruff, black, mypy

Implement classification v2.0.0 (#1359)
  CHANGELOG.md
  pystac/extensions/classification.py
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/extensions/cassettes/test_classification/test_apply_bitfields.yaml
  tests/extensions/cassettes/test_classification/test_validate_classification.yaml
  tests/extensions/test_classification.py
Due: ruff, black, mypy

Un-special-case search box on index page
  docs/index.rst
Due: doc8

fix: documentation for retry attribute (#1358)
  pystac/stac_io.py
Due: ruff, black, mypy

Add convenience method for accessing pystac_client
  pystac/client.py
  tests/test_pystac_client.py
Due: ruff, black, mypy

Un-special-case search box on index page (#1364)
  docs/index.rst
Due: doc8

Fixup url in Dimension.dim_type docs
  pystac/extensions/datacube.py
Due: ruff, black, mypy

Fixup url in Dimension.dim_type docs (#1370)
  pystac/extensions/datacube.py
Due: ruff, black, mypy

Add example of custom StacIO for Azure Blob storage
  docs/concepts.rst
Due: doc8

Add #1372 to changelog
  CHANGELOG.md
Due: none

Move implicit vars to class attributes, improve Blob URI handling
  docs/concepts.rst
Due: doc8

ci: bump python version when installing docs deps
  .github/workflows/continuous-integration.yml
Due: none

chore: remove python 3.9
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  docs/installation.rst
  pyproject.toml
Due: doc8

chore: update CHANGELOG
  CHANGELOG.md
Due: none

Add example of custom StacIO for Azure Blob storage (#1372)
  CHANGELOG.md
  docs/concepts.rst
Due: doc8

Remove python 3.9 (#1384)
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  CHANGELOG.md
  docs/installation.rst
  pyproject.toml
Due: doc8

Add netCDF in the media types list
  pystac/media_type.py
Due: ruff, black, mypy

add changelog entry
  CHANGELOG.md
  pystac/media_type.py
Due: ruff, black, mypy

Add netCDF in the media types list (#1386)
  CHANGELOG.md
  pystac/media_type.py
Due: ruff, black, mypy

Write test that mocks missing import
  tests/test_pystac_client.py
Due: ruff, black, mypy

Ignore mypy
  pystac/client.py
  tests/test_pystac_client.py
Due: ruff, black, mypy

Add to docs
  docs/api.rst
Due: doc8

Add convenience method for accessing pystac_client (#1365)
  CHANGELOG.md
  docs/api.rst
  pystac/client.py
  tests/test_pystac_client.py
Due: ruff, black, doc8, mypy

chore: pyupgrade to 3.10
  .pre-commit-config.yaml
  pyproject.toml
  pystac/__init__.py
  pystac/catalog.py
  pystac/errors.py
  pystac/extensions/mgrs.py
  pystac/extensions/version.py
  pystac/layout.py
  pystac/provider.py
  pystac/serialization/common_properties.py
  pystac/serialization/migrate.py
  pystac/stac_io.py
  pystac/stac_object.py
  pystac/utils.py
  pystac/validation/schema_uri_map.py
  pystac/validation/stac_validator.py
  pystac/version.py
  tests/data-files/get_examples.py
  tests/extensions/test_custom.py
  tests/extensions/test_scientific.py
  tests/extensions/test_version.py
  tests/posix_paths/test_posix_paths.py
  tests/test_layout.py
  tests/test_utils.py
Due: ruff, black, mypy

chore: update changelog
  CHANGELOG.md
Due: none

pyupgrade to 3.10 (#1388)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  pystac/__init__.py
  pystac/catalog.py
  pystac/errors.py
  pystac/extensions/mgrs.py
  pystac/extensions/version.py
  pystac/layout.py
  pystac/provider.py
  pystac/serialization/common_properties.py
  pystac/serialization/migrate.py
  pystac/stac_io.py
  pystac/stac_object.py
  pystac/utils.py
  pystac/validation/schema_uri_map.py
  pystac/validation/stac_validator.py
  pystac/version.py
  tests/data-files/get_examples.py
  tests/extensions/test_custom.py
  tests/extensions/test_scientific.py
  tests/extensions/test_version.py
  tests/posix_paths/test_posix_paths.py
  tests/test_layout.py
  tests/test_utils.py
Due: ruff, black, mypy

docs: collection rel type can be for anything
  pystac/link.py
Due: ruff, black, mypy

chore: switch to ruff-format from black
  .pre-commit-config.yaml
  docs/conf.py
  docs/contributing.rst
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/pystac-introduction.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
  pyproject.toml
  pystac/catalog.py
  pystac/serialization/common_properties.py
  pystac/serialization/migrate.py
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
Due: ruff, black, doc8, mypy

Update docs to reflect that collection rel type can be for anything (#1393)
  CHANGELOG.md
  pystac/link.py
Due: ruff, black, mypy
