Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: conftest\.py$
        require_serial: true

feat(sar): updated to SAR STAC Extension v1.3.2
  docs/api/extensions/sar.rst
  extensions/sar/README.md
  extensions/sar/pystac/extensions/sar.py
  extensions/sar/tests/cassettes/test_sar/test_asset_duplicate_polarizations.yaml
  extensions/sar/tests/cassettes/test_sar/test_collection_fields.yaml
  extensions/sar/tests/cassettes/test_sar/test_empty_item.yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[bandwidth-0].yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[beam_ids-value4].yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[center_frequency-0].yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[polarizations-value5].yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[relative_burst-0].yaml
  extensions/sar/tests/cassettes/test_sar/test_invalid_new_fields[relative_burst-1.5].yaml
  extensions/sar/tests/cassettes/test_sar/test_new_fields.yaml
  extensions/sar/tests/cassettes/test_sar/test_required.yaml
  extensions/sar/tests/test_sar.py
Due: doc8, mypy

chore(release): bump version to 1.3.2
  extensions/sar/pyproject.toml
Due: none

test: drop media type test per review
  tests/test_media_type.py
Due: mypy

chore: pin pre-commit hooks to uv.lock with sync-with-uv
  .pre-commit-config.yaml
  docs/contributing.rst
  pyproject.toml
Due: doc8

fix: deserialize null spatial and temporal extents
  core/pystac/collection.py
  tests/test_collection.py
Due: mypy

chore: install tomli for the codespell hook
  .pre-commit-config.yaml
Due: none

style: spell the default interval annotation as datetime | None
  core/pystac/collection.py
Due: mypy

If schema_path is defined on an extension hook, try to read and cache that schema for use in validation
  core/pystac/extensions/hooks.py
  core/pystac/validation/stac_validator.py
Due: mypy

Adding local copy of jsonschema
  extensions/file/pystac/extensions/schema.json
Due: none

Include schema.json in package
  extensions/file/pyproject.toml
Due: none

Specify local path to jsonschema
  extensions/file/pystac/extensions/file.py
Due: mypy

Remove cassettes that are no longer necessary
  extensions/file/tests/cassettes/test_file/test_set_field_on_asset[calibrations-local_path-different-file.xml].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_asset[measurement-header_size-8192].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_asset[thumbnail-byte_order-little-endian].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_asset[thumbnail-checksum-90e40210163700a8a6501eccd00b6d3b44ddaed0].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_asset[thumbnail-size-1].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_link[about-byte_order-big-endian].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_link[about-checksum-90e40210163700a8a6501eccd00b6d3b44ddaedb].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_link[about-header_size-4092].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_link[about-local_path-a-path].yaml
  extensions/file/tests/cassettes/test_file/test_set_field_on_link[about-size-129302].yaml
  extensions/file/tests/cassettes/test_file/test_validate_catalog.yaml
  extensions/file/tests/cassettes/test_file/test_validate_collection.yaml
  extensions/file/tests/cassettes/test_file/test_validate_item.yaml
  extensions/file/tests/test_file.py
Due: mypy

docs: reflect that PySTAC writes STAC v1.1.0 by default (#1803)
  docs/index.rst
Due: doc8

Move location of schema file and make sure to use importlib rather than path
  core/pystac/extensions/hooks.py
  core/pystac/validation/stac_validator.py
  extensions/file/pyproject.toml
  extensions/file/pystac/extensions/file.py
  extensions/file/pystac/extensions/json-schema/v2.1.0.json
Due: mypy

Add a :robot: generated script that pulls the schema json for any extension class that defines
  scripts/pull-schemas
Due: none

Add all the attributes
  extensions/classification/pystac/extensions/classification.py
  extensions/datacube/pystac/extensions/datacube.py
  extensions/eo/pystac/extensions/eo.py
  extensions/grid/pystac/extensions/grid.py
  extensions/item_assets/pystac/extensions/item_assets.py
  extensions/label/pystac/extensions/label.py
  extensions/mgrs/pystac/extensions/mgrs.py
  extensions/mlm/pystac/extensions/mlm.py
  extensions/pointcloud/pystac/extensions/pointcloud.py
  extensions/projection/pystac/extensions/projection.py
  extensions/raster/pystac/extensions/raster.py
  extensions/render/pystac/extensions/render.py
  extensions/sar/pystac/extensions/sar.py
  extensions/sat/pystac/extensions/sat.py
  extensions/scientific/pystac/extensions/scientific.py
  extensions/storage/pystac/extensions/storage.py
  extensions/table/pystac/extensions/table.py
  extensions/timestamps/pystac/extensions/timestamps.py
  extensions/version/pystac/extensions/version.py
  extensions/view/pystac/extensions/view.py
  extensions/xarray_assets/pystac/extensions/xarray_assets.py
Due: mypy

Add static json to extension pyproject.toml
  extensions/classification/pyproject.toml
  extensions/datacube/pyproject.toml
  extensions/eo/pyproject.toml
  extensions/grid/pyproject.toml
  extensions/item_assets/pyproject.toml
  extensions/label/pyproject.toml
  extensions/mgrs/pyproject.toml
  extensions/mlm/pyproject.toml
  extensions/pointcloud/pyproject.toml
  extensions/projection/pyproject.toml
  extensions/raster/pyproject.toml
  extensions/render/pyproject.toml
  extensions/sar/pyproject.toml
  extensions/sat/pyproject.toml
  extensions/scientific/pyproject.toml
  extensions/storage/pyproject.toml
  extensions/table/pyproject.toml
  extensions/timestamps/pyproject.toml
  extensions/version/pyproject.toml
  extensions/view/pyproject.toml
  extensions/xarray_assets/pyproject.toml
Due: none

Download all the schema jsons
  extensions/classification/pystac/extensions/json-schema/v2.0.0.json
  extensions/datacube/pystac/extensions/json-schema/v2.2.0.json
  extensions/eo/pystac/extensions/json-schema/v1.1.0.json
  extensions/grid/pystac/extensions/json-schema/v1.1.0.json
  extensions/item_assets/pystac/extensions/json-schema/v1.0.0.json
  extensions/label/pystac/extensions/json-schema/v1.0.1.json
  extensions/mgrs/pystac/extensions/json-schema/v1.0.0.json
  extensions/mlm/pystac/extensions/json-schema/v1.4.0.json
  extensions/pointcloud/pystac/extensions/json-schema/v1.0.0.json
  extensions/projection/pystac/extensions/json-schema/v2.0.0.json
  extensions/raster/pystac/extensions/json-schema/v1.1.0.json
  extensions/sar/pystac/extensions/json-schema/v1.0.0.json
  extensions/sat/pystac/extensions/json-schema/v1.0.0.json
  extensions/scientific/pystac/extensions/json-schema/v1.0.0.json
  extensions/storage/pystac/extensions/json-schema/v2.0.0.json
  extensions/table/pystac/extensions/json-schema/v1.2.0.json
  extensions/timestamps/pystac/extensions/json-schema/v1.1.0.json
  extensions/version/pystac/extensions/json-schema/v1.2.0.json
  extensions/view/pystac/extensions/json-schema/v1.0.0.json
  extensions/xarray_assets/pystac/extensions/json-schema/v1.0.0.json
Due: none

New approach that loads all the schemas at once
  core/pystac/extensions/hooks.py
  core/pystac/validation/local_validator.py
  core/pystac/validation/stac_validator.py
Due: mypy

Revert "Add all the attributes"
  extensions/classification/pystac/extensions/classification.py
  extensions/datacube/pystac/extensions/datacube.py
  extensions/eo/pystac/extensions/eo.py
  extensions/grid/pystac/extensions/grid.py
  extensions/item_assets/pystac/extensions/item_assets.py
  extensions/label/pystac/extensions/label.py
  extensions/mgrs/pystac/extensions/mgrs.py
  extensions/mlm/pystac/extensions/mlm.py
  extensions/pointcloud/pystac/extensions/pointcloud.py
  extensions/projection/pystac/extensions/projection.py
  extensions/raster/pystac/extensions/raster.py
  extensions/render/pystac/extensions/render.py
  extensions/sar/pystac/extensions/sar.py
  extensions/sat/pystac/extensions/sat.py
  extensions/scientific/pystac/extensions/scientific.py
  extensions/storage/pystac/extensions/storage.py
  extensions/table/pystac/extensions/table.py
  extensions/timestamps/pystac/extensions/timestamps.py
  extensions/version/pystac/extensions/version.py
  extensions/view/pystac/extensions/view.py
  extensions/xarray_assets/pystac/extensions/xarray_assets.py
Due: mypy

Fully remove the concept of on the hooks
  core/pystac/extensions/hooks.py
  extensions/file/pystac/extensions/file.py
  scripts/pull-schemas
Due: mypy

Include extension name in file path
  core/pystac/extensions/hooks.py
  scripts/pull-schemas
Due: mypy

Remove cassette decorators
  extensions/classification/tests/test_classification.py
  extensions/datacube/tests/test_datacube.py
  extensions/eo/tests/test_eo.py
  extensions/grid/tests/test_grid.py
  extensions/mgrs/tests/test_mgrs.py
  extensions/mlm/tests/test_mlm.py
  extensions/pointcloud/tests/test_pointcloud.py
  extensions/projection/tests/test_projection.py
  extensions/raster/tests/test_raster.py
  extensions/sar/tests/test_sar.py
  extensions/sat/tests/test_sat.py
  extensions/scientific/tests/test_scientific.py
  extensions/storage/tests/test_storage.py
  extensions/table/tests/test_table.py
  extensions/timestamps/tests/test_timestamps.py
  extensions/version/tests/test_version.py
  extensions/view/tests/test_view.py
  extensions/xarray_assets/tests/test_xarray_assets.py
  tests/test_catalog.py
  tests/test_item.py
  tests/test_writing.py
  tests/validation/test_validate.py
Due: mypy

Linting
  core/pystac/extensions/hooks.py
  core/pystac/validation/local_validator.py
Due: mypy

Rename xarray_assets dir to xarray-assets to match schema
  extensions/xarray_assets/pystac/extensions/json-schema/xarray-assets/v1.0.0.json
Due: none

Change logic to look in all extension files for the one that matches schema_uri
  core/pystac/extensions/hooks.py
  core/pystac/validation/local_validator.py
  core/pystac/validation/stac_validator.py
Due: mypy

Need to add back a few cassettes
  extensions/mlm/tests/cassettes/test_mlm/test_apply.yaml
  extensions/mlm/tests/cassettes/test_mlm/test_validate_mlm.yaml
  extensions/mlm/tests/test_mlm.py
Due: mypy

Linting
  core/pystac/validation/local_validator.py
  core/pystac/validation/stac_validator.py
Due: mypy

Just checking if the issue is windows specific
  .github/workflows/continuous-integration.yml
Due: none

Revert "Just checking if the issue is windows specific"
  .github/workflows/continuous-integration.yml
Due: none

More robust to windows
  core/pystac/validation/stac_validator.py
Due: mypy

Add missing entrypoint on render extension package
  extensions/render/pyproject.toml
  extensions/render/pystac/extensions/render.py
Due: mypy

feat: add octet-stream and zip media types (#1805)
  core/pystac/media_type.py
Due: mypy

Add missing entrypoint on render extension package (#1822)
  extensions/render/pyproject.toml
  extensions/render/pystac/extensions/render.py
Due: mypy

Add some light docs
  docs/tutorials/adding-new-and-custom-extensions.ipynb
Due: none

fix: resolve relative links against the URL after an HTTP redirect
  core/pystac/stac_io.py
  core/pystac/stac_object.py
  tests/test_stac_io.py
Due: mypy

test: redirect with 301 so the urllib case runs on Python 3.10
  tests/test_stac_io.py
Due: mypy

Add optional allow-list for fetching json schemas
  core/pystac/validation/stac_validator.py
Due: mypy
