Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        args: []
        language: system
        stages: [commit]
        types: [python]

Add note about self_link to docstrings
  pystac/catalog.py
Due: black, flake8, mypy, isort

Change `keep_parent` to `set_parent` and add flag on obj indicating parent override of href (#1155)
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/link.py
  pystac/stac_object.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Return Link Object after adding a child or item #1159
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Add XarrayAssetsExtension class
  pystac/extensions/xarray_assets.py
Due: black, flake8, mypy, isort

Add tests and docs
  docs/api.rst
  docs/api/extensions.rst
  docs/api/extensions/xarray_assets.rst
  pystac/__init__.py
  pystac/extensions/xarray_assets.py
  tests/data-files/xarray-assets/collection.json
  tests/data-files/xarray-assets/item.json
  tests/extensions/test_xarray_assets.py
Due: black, doc8, flake8, mypy, isort

Return List of Links from add_childen and add_items #1159
  CHANGELOG.md
  pystac/catalog.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Add some `open` tests
  pystac/extensions/xarray_assets.py
  tests/extensions/test_xarray_assets.py
Due: black, flake8, mypy, isort

Docstring for open
  pystac/extensions/xarray_assets.py
Due: black, flake8, mypy, isort

Add xpystac to test deps
  pyproject.toml
Due: none

Return Link Object after adding a child or item #1159 (#1160)
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Add the latest version of commonly used schemas
  pystac/validation/jsonschemas/__init__.py
  pystac/validation/jsonschemas/extensions/eo/v1.1.0/schema.json
  pystac/validation/jsonschemas/extensions/label/v1.0.1/schema.json
  pystac/validation/jsonschemas/extensions/view/v1.0.0/schema.json
  pystac/validation/jsonschemas/geojson/Feature.json
  pystac/validation/jsonschemas/geojson/Geometry.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/basics.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/catalog.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/collection.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/datetime.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/instrument.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/item.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/licensing.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/provider.json
Due: black, flake8, mypy, isort

Add reader class and integrate it into existing validation
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
Due: black, flake8, mypy, isort

Fix python 3.8 types
  pystac/validation/local_validator.py
Due: black, flake8, mypy, isort

Add reader class that accepts schema_uris
  pystac/errors.py
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

Do less caching
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
Due: black, flake8, mypy, isort

Update pystac/extensions/xarray_assets.py
  pystac/extensions/xarray_assets.py
Due: black, flake8, mypy, isort

Switch to importlib for path and remove extensions
  pystac/validation/jsonschemas/extensions/eo/v1.1.0/schema.json
  pystac/validation/jsonschemas/extensions/label/v1.0.1/schema.json
  pystac/validation/jsonschemas/extensions/view/v1.0.0/schema.json
  pystac/validation/local_validator.py
Due: black, flake8, mypy, isort

Update changelog
  CHANGELOG.md
Due: none

Mention where the jsonschemas come from in the docs
  docs/concepts.rst
Due: doc8

Fix importlib for python 3.8
  pystac/validation/local_validator.py
Due: black, flake8, mypy, isort

Remove annotation to satisfy mypy
  pystac/validation/__init__.py
Due: black, flake8, mypy, isort

Remove annotation to satisfy mypy (#1166)
  pystac/validation/__init__.py
Due: black, flake8, mypy, isort

Add `make_all_asset_hrefs_relative/absolute` target collection assets as well as item assets
  pystac/catalog.py
  pystac/collection.py
Due: black, flake8, mypy, isort

Include some json schemas within pystac (#1165)
  CHANGELOG.md
  docs/concepts.rst
  pystac/errors.py
  pystac/validation/jsonschemas/__init__.py
  pystac/validation/jsonschemas/geojson/Feature.json
  pystac/validation/jsonschemas/geojson/Geometry.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/basics.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/catalog.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/collection.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/datetime.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/instrument.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/item.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/licensing.json
  pystac/validation/jsonschemas/stac-spec/v1.0.0/provider.json
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
  tests/validation/test_validate.py
Due: black, doc8, flake8, mypy, isort

Switch from `pytest-vcr` to `pytest-recording`
  pyproject.toml
Due: none

Add markers for validation tests
  tests/extensions/test_classification.py
  tests/extensions/test_datacube.py
  tests/extensions/test_eo.py
  tests/extensions/test_file.py
  tests/extensions/test_grid.py
  tests/extensions/test_label.py
  tests/extensions/test_mgrs.py
  tests/extensions/test_pointcloud.py
  tests/extensions/test_projection.py
  tests/extensions/test_raster.py
  tests/extensions/test_sar.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_storage.py
  tests/extensions/test_table.py
  tests/extensions/test_timestamps.py
  tests/extensions/test_version.py
  tests/extensions/test_view.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
  tests/test_writing.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

Enforce no network on CI
  scripts/test
Due: none

Add vcr markers and update tests
  tests/data-files/catalogs/cbers-partial/catalog.json
  tests/data-files/eo/eo-collection.json
  tests/data-files/examples/0.8.1/item-spec/examples/sentinel-s2-l1c-collection.json
  tests/data-files/examples/0.8.1/item-spec/examples/sentinel2-sample.json
  tests/test_catalog.py
Due: black, flake8, mypy, isort

Add vcr to docs
  RELEASING.md
  docs/contributing.rst
Due: doc8

Simplify a bit
  pystac/collection.py
  pystac/item.py
Due: black, flake8, mypy, isort

Include collection assets in `make_all_asset_hrefs_relative/absolute` (#1168)
  CHANGELOG.md
  pystac/catalog.py
  pystac/collection.py
  pystac/item.py
Due: black, flake8, mypy, isort

Remove open method
  pyproject.toml
  pystac/extensions/xarray_assets.py
  tests/extensions/test_xarray_assets.py
Due: black, flake8, mypy, isort

Fix copypasta
  pystac/extensions/xarray_assets.py
Due: black, flake8, mypy, isort

Xarray Assets Extension class (#1161)
  CHANGELOG.md
  docs/api.rst
  docs/api/extensions.rst
  docs/api/extensions/xarray_assets.rst
  pystac/__init__.py
  pystac/extensions/xarray_assets.py
  tests/data-files/xarray-assets/collection.json
  tests/data-files/xarray-assets/item.json
  tests/extensions/test_xarray_assets.py
Due: black, doc8, flake8, mypy, isort

Mark new extension tests with vcr and write cassettes
  tests/extensions/cassettes/test_xarray_assets/test_item_validate.yaml
  tests/extensions/test_xarray_assets.py
Due: black, flake8, mypy, isort
