Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: conftest\.py$
        require_serial: true

Ensured ssys two-way compatibility with STAC items
  core/pystac/__init__.py
  core/pystac/extensions/ext.py
  docs/api.rst
  docs/api/extensions/ssys.rst
  extensions/ssys/tests/test_ssys.py
  pyproject.toml
  uv.lock
Due: doc8, mypy

Added doc on pystac.Band
  docs/api/band.rst
Due: doc8

Update src/pystac/item_collection.py
  src/pystac/item_collection.py
Due: mypy

feat: V2 links updates (#1693)
  src/pystac/link.py
  tests/v1/conftest.py
  tests/v1/posix_paths/test_posix_paths.py
  tests/v1/test_link.py
Due: mypy

Bump extension.datacube to 2.3.0
  core/pystac/__init__.py
  core/pystac/common_metadata.py
  extensions/datacube/pystac/extensions/datacube.py
  extensions/datacube/tests/cassettes/test_datacube/test_set_dimensions.yaml
  extensions/datacube/tests/cassettes/test_datacube/test_set_variables.yaml
  extensions/datacube/tests/cassettes/test_datacube/test_validate.yaml
  extensions/datacube/tests/data-files/item.json
  extensions/datacube/tests/test_datacube.py
Due: mypy

Bump extension.datacube manifests to 2.3.0
  .release-please-manifest.json
  extensions/datacube/README.md
  extensions/datacube/pyproject.toml
Due: none

restore media_type link filtering, and drop deprecated methods
  src/pystac/stac_object.py
  tests/v1/test_catalog.py
Due: mypy

v2-enable all test_catalog tests, and triage the failures with xfail reasons
  tests/v1/test_catalog.py
Due: mypy

adapt to asset using type instead of media_type
  tests/v1/test_catalog.py
Due: mypy

restore datetime setter
  src/pystac/item.py
Due: mypy

remove Catalog.get_item
  src/pystac/container.py
  tests/v1/test_catalog.py
Due: mypy

Fix static fields file
  scripts/pull-static
  src/pystac/static/__init__.py
  src/pystac/static/fields-normalized.json
Due: mypy

Make Item Properties a `MutableMapping`
  src/pystac/item.py
  tests/v1/test_summaries.py
Due: mypy

Run v1 item_collection tests
  tests/v1/test_item_collection.py
Due: mypy

Fix item_collection
  src/pystac/item.py
  src/pystac/item_collection.py
  tests/v1/test_item_collection.py
Due: mypy

Respond to comments
  src/pystac/item_collection.py
Due: mypy

Add back `get_item` for `Collection`
  src/pystac/collection.py
Due: mypy

fix: V2 item collection (#1709)
  src/pystac/item.py
  src/pystac/item_collection.py
  tests/v1/test_item_collection.py
Due: mypy

Simplify `Summaries`
  src/pystac/__init__.py
  src/pystac/collection.py
  src/pystac/extensions/base.py
  src/pystac/summaries.py
  tests/v1/test_collection.py
Due: mypy

Add .ext to stac objects
  src/pystac/asset.py
  src/pystac/catalog.py
  src/pystac/collection.py
  src/pystac/item.py
  src/pystac/link.py
Due: mypy

Fix RangeSummary coersion
  src/pystac/summaries.py
Due: mypy

fix: V2 summaries (#1710)
  scripts/pull-static
  src/pystac/__init__.py
  src/pystac/collection.py
  src/pystac/extensions/base.py
  src/pystac/item.py
  src/pystac/static/__init__.py
  src/pystac/static/fields-normalized.json
  src/pystac/summaries.py
  tests/v1/test_collection.py
  tests/v1/test_summaries.py
Due: mypy

Add .ext to stac objects (#1717)
  src/pystac/asset.py
  src/pystac/catalog.py
  src/pystac/collection.py
  src/pystac/item.py
  src/pystac/link.py
Due: mypy

fixed Unexpected indentation in band methods
  extensions/eo/pystac/extensions/eo.py
Due: mypy

fix(ci): use client-id, not app-id
  .github/workflows/release-please.yml
Due: none

chore: manually set all the release versions
  .release-please-manifest.json
Due: none

fix: `uv run pre-commit run --all-files` now passes on "test (3.11, macos-latest)"
  extensions/earthquake/pystac/extensions/earthquake.py
  extensions/insar/pystac/extensions/insar.py
  extensions/order/pystac/extensions/order.py
  extensions/sentinel1/pystac/extensions/sentinel1.py
  extensions/sentinel1/tests/test_sentinel1.py
  extensions/sentinel2/pystac/extensions/sentinel2.py
  extensions/sentinel2/tests/test_sentinel2.py
  extensions/sentinel3/pystac/extensions/sentinel3.py
  extensions/sentinel3/tests/test_sentinel3.py
Due: mypy

fix(ci): use client-id, not app-id (#1720)
  .github/workflows/release-please.yml
Due: none

chore: manually set all the release versions (#1721)
  .release-please-manifest.json
Due: none

fix: `uv run make -C docs html SPHINXOPTS="-W --keep-going -n"` execution
  docs/api/extensions/sentinel3.rst
  docs/conf.py
  extensions/earthquake/pystac/extensions/earthquake.py
Due: doc8, mypy

chore: actually set release-please manifest correctly
  .release-please-manifest.json
Due: none

chore: actually set release-please manifest correctly (#1723)
  .release-please-manifest.json
Due: none

Fixed malformed RST links
  extensions/ssys/pystac/extensions/ssys.py
Due: mypy

fix: update all of our versions to be rc.0
  core/pyproject.toml
  core/pystac/version.py
  extensions/classification/pyproject.toml
  extensions/datacube/pyproject.toml
  extensions/eo/pyproject.toml
  extensions/file/pyproject.toml
  extensions/grid/pyproject.toml
  extensions/item_assets/pyproject.toml
  extensions/label/pyproject.toml
  extensions/mgrs/pyproject.toml
  extensions/mlm/pyproject.toml
  extensions/pointcloud/pyproject.toml
  extensions/projection/pyproject.toml
  extensions/raster/pyproject.toml
  extensions/render/pyproject.toml
  extensions/sar/pyproject.toml
  extensions/sat/pyproject.toml
  extensions/scientific/pyproject.toml
  extensions/storage/pyproject.toml
  extensions/table/pyproject.toml
  extensions/timestamps/pyproject.toml
  extensions/version/pyproject.toml
  extensions/view/pyproject.toml
  extensions/xarray_assets/pyproject.toml
  pyproject.toml
  release-please-config.json
Due: mypy

chore: update release to work w/ our packages
  .github/workflows/release.yml
Due: none

fix: update all of our versions to be rc.0 (#1726)
  .github/workflows/release.yml
  core/pyproject.toml
  core/pystac/version.py
  extensions/classification/pyproject.toml
  extensions/datacube/pyproject.toml
  extensions/eo/pyproject.toml
  extensions/file/pyproject.toml
  extensions/grid/pyproject.toml
  extensions/item_assets/pyproject.toml
  extensions/label/pyproject.toml
  extensions/mgrs/pyproject.toml
  extensions/mlm/pyproject.toml
  extensions/pointcloud/pyproject.toml
  extensions/projection/pyproject.toml
  extensions/raster/pyproject.toml
  extensions/render/pyproject.toml
  extensions/sar/pyproject.toml
  extensions/sat/pyproject.toml
  extensions/scientific/pyproject.toml
  extensions/storage/pyproject.toml
  extensions/table/pyproject.toml
  extensions/timestamps/pyproject.toml
  extensions/version/pyproject.toml
  extensions/view/pyproject.toml
  extensions/xarray_assets/pyproject.toml
  pyproject.toml
  release-please-config.json
Due: mypy

fix: remove python-version from release workflow
  .github/workflows/release.yml
Due: none
