Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        args: []
        language: system
        stages: [commit]
        types: [python]

chore: capitalize project.urls
  pyproject.toml
Due: none

chore: capitalize project.urls (#1220)
  pyproject.toml
Due: none

feat: permissively deserialize temporal extents
  CHANGELOG.md
  pystac/collection.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

feat: permissively deserialize temporal extents (#1222)
  CHANGELOG.md
  pystac/collection.py
  tests/test_collection.py
Due: black, flake8, mypy, isort

Fix typo in dev install instructions
  docs/contributing.rst
Due: doc8

Allow future extensions to be used
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/eo.py
  pystac/extensions/grid.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  tests/extensions/test_classification.py
  tests/extensions/test_projection.py
Due: black, flake8, mypy, isort

Fix black-jupyter pre-commit hook config
  .pre-commit-config.yaml
  docs/tutorials/pystac-spacenet-tutorial.ipynb
Due: none

Fix typo in dev install instructions (#1230)
  docs/contributing.rst
Due: doc8

Fix black-jupyter pre-commit hook config (#1232)
  .pre-commit-config.yaml
  docs/tutorials/pystac-spacenet-tutorial.ipynb
Due: none

Pre-compile the regex
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

Update changelog
  CHANGELOG.md
Due: none

Allow future extensions to be used (#1231)
  CHANGELOG.md
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/eo.py
  pystac/extensions/grid.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  tests/extensions/test_classification.py
  tests/extensions/test_projection.py
Due: black, flake8, mypy, isort

fix: allow HREF when opening files
  CHANGELOG.md
  pystac/catalog.py
  pystac/item_collection.py
  pystac/stac_object.py
  tests/test_item.py
Due: black, flake8, mypy, isort

fix: don't coerce to str in tests
  tests/test_catalog.py
  tests/test_item.py
  tests/test_link.py
Due: black, flake8, mypy, isort

Allow HREF when opening files (#1234)
  CHANGELOG.md
  pystac/catalog.py
  pystac/item_collection.py
  pystac/stac_object.py
  tests/test_catalog.py
  tests/test_item.py
  tests/test_link.py
Due: black, flake8, mypy, isort

chore: drop python 3.8
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  CHANGELOG.md
  docs/installation.rst
  pyproject.toml
  pystac/summaries.py
  pystac/validation/local_validator.py
Due: black, doc8, flake8, mypy, isort

Initial module and tests for virtual assets
  pystac/extensions/virtual_assets.py
  tests/data-files/virtual-assets/sentinel-item.json
  tests/extensions/test_virtual_assets.py
Due: black, flake8, mypy, isort

Add comment to has_extension
  pystac/extensions/virtual_assets.py
Due: black, flake8, mypy, isort

fix: use the pre-compiled version regex
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

ci: set codecov to be informational only
  codecov.yml
Due: none

ci: set codecov to be informational only (#1245)
  codecov.yml
Due: none

fix: use the pre-compiled version regex (#1241)
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

chore: move mypy config to pyproject.toml
  CHANGELOG.md
  mypy.ini
  pyproject.toml
Due: none

chore: drop python 3.8 (#1236)
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  CHANGELOG.md
  docs/installation.rst
  pyproject.toml
  pystac/summaries.py
  pystac/validation/local_validator.py
Due: black, doc8, flake8, mypy, isort

chore: move mypy config to pyproject.toml (#1240)
  CHANGELOG.md
  mypy.ini
  pyproject.toml
Due: none

feat: add more info to validation errors
  CHANGELOG.md
  pystac/validation/stac_validator.py
  tests/test_item.py
Due: black, flake8, mypy, isort

feat: add bands
  pystac/__init__.py
  pystac/asset.py
  pystac/band.py
  pystac/collection.py
  pystac/item.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

feat: add more info to validation errors (#1233)
  CHANGELOG.md
  pystac/validation/stac_validator.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Deprecated validate_has_extension and replaced with ensure_has_extension
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/grid.py
  pystac/extensions/item_assets.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/scientific.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/extensions/xarray_assets.py
  tests/extensions/test_custom.py
Due: black, flake8, mypy, isort

pre-commit tests
  pystac/extensions/base.py
Due: black, flake8, mypy, isort

CHANGELOG update
  CHANGELOG.md
Due: none

Replace validate_has_extension with ensure_has_extension (#1248)
  CHANGELOG.md
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/grid.py
  pystac/extensions/item_assets.py
  pystac/extensions/label.py
  pystac/extensions/mgrs.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/scientific.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/extensions/xarray_assets.py
  tests/extensions/test_custom.py
Due: black, flake8, mypy, isort

Add support to validate_all for STACObject
  CHANGELOG.md
  pystac/validation/__init__.py
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all.yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_deprecated_dict_arg.yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case0].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case1].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case2].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case3].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case4].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case5].yaml
  tests/validation/cassettes/test_validate/TestValidate.test_validate_all_dict[test_case6].yaml
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort

Update tests/validation/test_validate.py
  tests/validation/test_validate.py
Due: black, flake8, mypy, isort
