Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - pre-commit
  require_serial: true

Issue 1470 paths windows (#1475)
  .github/workflows/continuous-integration.yml
  .gitignore
  CHANGELOG.md
  tests/test_catalog.py
  tests/test_layout.py
  tests/test_utils.py
  tests/utils/__init__.py
  tests/utils/os_utils.py
Due: mypy

fix #1483
  pystac/extensions/classification.py
Due: mypy

Export AssetDefinition
  pystac/extensions/item_assets.py
Due: mypy

add a test for #1483
  tests/extensions/test_classification.py
Due: mypy

fix: rewrite cassette
  tests/extensions/cassettes/test_classification/test_apply_classes.yaml
Due: none

fix: formatting
  tests/extensions/test_classification.py
Due: mypy

fix #1483 (#1484)
  pystac/extensions/classification.py
  tests/extensions/cassettes/test_classification/test_apply_classes.yaml
  tests/extensions/test_classification.py
Due: mypy

fix(docs): changelog formatting
  CHANGELOG.md
Due: none

Add deprecated warning and update tests
  pystac/extensions/item_assets.py
  tests/extensions/test_classification.py
  tests/extensions/test_raster.py
  tests/test_item_assets.py
Due: mypy

Remove schema uri from stac_extensions on migrate
  pystac/extensions/item_assets.py
  tests/serialization/test_migrate.py
  tests/test_item_assets.py
Due: mypy

Update docs
  docs/api/item_assets.rst
  docs/api/pystac.rst
  pystac/collection.py
  pystac/extensions/item_assets.py
  pystac/item_assets.py
  tests/test_item_assets.py
Due: doc8, mypy

Add some more tests
  pystac/collection.py
  pystac/extensions/item_assets.py
  tests/test_item_assets.py
Due: mypy

Landsat tutorial: fix broken link
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Remove TYPE_CHECKING
  pystac/extensions/item_assets.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Landsat tutorial: fix broken link (#1488)
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Item assets (#1476)
  CHANGELOG.md
  docs/api/item_assets.rst
  docs/api/pystac.rst
  pystac/__init__.py
  pystac/collection.py
  pystac/extensions/base.py
  pystac/extensions/classification.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/ext.py
  pystac/extensions/item_assets.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/item_assets.py
  tests/extensions/test_classification.py
  tests/extensions/test_item_assets.py
  tests/extensions/test_raster.py
  tests/serialization/test_migrate.py
  tests/test_item_assets.py
Due: doc8, mypy

Allow reading and writing when href startswith file:///
  pystac/stac_io.py
Due: mypy

Add test of reading and writing to hrefs starting with file:///
  tests/test_stac_io.py
Due: mypy

Ensure that file:/// are interpretted as absolute urls
  pystac/stac_io.py
  pystac/utils.py
  tests/test_utils.py
Due: mypy

Try to fix windows
  pystac/utils.py
Due: mypy

Try to fix windows
  tests/test_utils.py
Due: mypy

Add some print debugging
  pystac/utils.py
  tests/test_utils.py
Due: mypy

Add more print debugging
  pystac/utils.py
Due: mypy

Moved is_absolute to os dependent test
  tests/test_utils.py
Due: mypy

Fix os-dependent test
  tests/test_utils.py
Due: mypy

Strip initial slash and see if it passes
  pystac/stac_io.py
Due: mypy

Add more print debugging
  pystac/link.py
  pystac/stac_io.py
  pystac/utils.py
Due: mypy

Just strip off the leading slash
  pystac/link.py
  pystac/utils.py
Due: mypy

Only for windows
  pystac/link.py
  pystac/utils.py
Due: mypy

Fix windows handling
  pystac/utils.py
Due: mypy

Allow links to have `file://` prefix - but don't write them that way by default (#1489)
  pystac/stac_io.py
  pystac/utils.py
  tests/test_stac_io.py
  tests/test_utils.py
Due: mypy

Migrate license from 'various' and 'proprietary' to 'other'
  pystac/serialization/migrate.py
  tests/serialization/test_migrate.py
Due: mypy

Update license in 1.1.0 test files
  tests/data-files/catalogs/test-case-1/country-1/area-1-1/collection.json
  tests/data-files/catalogs/test-case-1/country-1/area-1-2/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-1/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-2/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/collection.json
  tests/data-files/catalogs/test-case-4/acc/collection.json
  tests/data-files/catalogs/test-case-4/dar/collection.json
  tests/data-files/catalogs/test-case-4/kam/collection.json
  tests/data-files/catalogs/test-case-4/mon/collection.json
  tests/data-files/catalogs/test-case-4/nia/collection.json
  tests/data-files/catalogs/test-case-4/ptn/collection.json
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/data-files/collections/multi-extent.json
  tests/data-files/collections/with-assets.json
  tests/data-files/invalid/shared-id/test/collection.json
  tests/data-files/projection/collection-with-summaries.json
  tests/data-files/storage/collection-naip.json
  tests/data-files/table/collection-2.json
  tests/data-files/view/collection-with-summaries.json
  tests/data-files/windows_hrefs/test-collection/collection.json
  tests/test_catalog.py
Due: mypy

Remove item-assets extension from v1.1.0 files
  tests/data-files/catalogs/cbers-partial/CBERS4AWFI/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4MUX/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN10M/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN5M/collection.json
  tests/data-files/item-assets/example-landsat8.json
  tests/data-files/table/collection-2.json
  tests/data-files/table/collection.json
  tests/data-files/table/table-collection.json
  tests/serialization/test_migrate.py
Due: mypy

add new fields config to fix summaries
  .actrc
  pyproject.toml
  pystac/static/fields-normalized.json
  scripts/pull-static
Due: none

precommit touch up
  pystac/extensions/eo.py
Due: mypy

Update migrate code to handle license updates for v1.1.0 (#1491)
  pystac/serialization/migrate.py
  tests/data-files/catalogs/cbers-partial/CBERS4AWFI/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4MUX/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN10M/collection.json
  tests/data-files/catalogs/cbers-partial/CBERS4PAN5M/collection.json
  tests/data-files/catalogs/test-case-1/country-1/area-1-1/collection.json
  tests/data-files/catalogs/test-case-1/country-1/area-1-2/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-1/collection.json
  tests/data-files/catalogs/test-case-1/country-2/area-2-2/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/5b922d42-9a77-4f79-a672-86096f7f849e/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/collection.json
  tests/data-files/catalogs/test-case-2/1a8c1632-fa91-4a62-b33e-3a87c2ebdf16/f433578c-f879-414d-8101-83142a0a13c3/collection.json
  tests/data-files/catalogs/test-case-4/acc/collection.json
  tests/data-files/catalogs/test-case-4/dar/collection.json
  tests/data-files/catalogs/test-case-4/kam/collection.json
  tests/data-files/catalogs/test-case-4/mon/collection.json
  tests/data-files/catalogs/test-case-4/nia/collection.json
  tests/data-files/catalogs/test-case-4/ptn/collection.json
  tests/data-files/classification/collection-item-assets-raster-bands.json
  tests/data-files/collections/multi-extent.json
  tests/data-files/collections/with-assets.json
  tests/data-files/invalid/shared-id/test/collection.json
  tests/data-files/item-assets/example-landsat8.json
  tests/data-files/projection/collection-with-summaries.json
  tests/data-files/storage/collection-naip.json
  tests/data-files/table/collection-2.json
  tests/data-files/table/collection.json
  tests/data-files/table/table-collection.json
  tests/data-files/view/collection-with-summaries.json
  tests/data-files/windows_hrefs/test-collection/collection.json
  tests/serialization/test_migrate.py
  tests/test_catalog.py
Due: mypy

Path conditions:
  doc8: any of: \.rst$
  mypy: any of: \.py$
