Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        stages: [commit]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        args: []
        language: system
        stages: [commit]
        types: [python]

feat: add start_ and end_datetime to Item
  pystac/html/Item.jinja2
Due: none

fix: always get href string
  pystac/html/Link.jinja2
Due: none

fix: add missing <strong> tag to Catalog ID
  pystac/html/Catalog.jinja2
Due: none

fix: skip fields with empty contents
  pystac/html/Macros.jinja2
Due: none

fix: remove duplicate item fields
  pystac/html/Asset.jinja2
  pystac/html/Item.jinja2
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

fix: correct CHANGELOG typo
  CHANGELOG.md
Due: none

tests: build out the custom extension tests
  tests/extensions/test_custom.py
Due: black, flake8, mypy, isort

Correct invalid html generated by `_repr_html_()` (#975)
  CHANGELOG.md
  pystac/html/Asset.jinja2
  pystac/html/Catalog.jinja2
  pystac/html/Collection.jinja2
  pystac/html/Item.jinja2
  pystac/html/Link.jinja2
  pystac/html/Macros.jinja2
  tests/html/test_html.py
Due: black, flake8, mypy, isort

refactor: use __future__.annotations
  pystac/asset.py
  pystac/cache.py
  pystac/catalog.py
  pystac/collection.py
  pystac/extensions/datacube.py
  pystac/extensions/eo.py
  pystac/extensions/file.py
  pystac/extensions/grid.py
  pystac/extensions/hooks.py
  pystac/extensions/item_assets.py
  pystac/extensions/label.py
  pystac/extensions/pointcloud.py
  pystac/extensions/projection.py
  pystac/extensions/raster.py
  pystac/extensions/sar.py
  pystac/extensions/sat.py
  pystac/extensions/scientific.py
  pystac/extensions/storage.py
  pystac/extensions/table.py
  pystac/extensions/timestamps.py
  pystac/extensions/version.py
  pystac/extensions/view.py
  pystac/serialization/identify.py
  pystac/serialization/migrate.py
  pystac/stac_object.py
  pystac/validation/__init__.py
Due: black, flake8, mypy, isort

chore: update changelog
  CHANGELOG.md
Due: none

feat: add merge_group to ci
  .github/workflows/continuous-integration.yml
Due: none

fix: remove unused imports from __init__.py
  pystac/__init__.py
Due: black, flake8, mypy, isort

feat: add two new time functions to utils.py
  CHANGELOG.md
  pystac/utils.py
  tests/test_utils.py
Due: black, flake8, mypy, isort

fix: allow clone to use subclasses
  pystac/collection.py
  pystac/item_collection.py
  pystac/summaries.py
Due: black, flake8, mypy, isort

feat: generalize return types from classmethods
  pystac/asset.py
  pystac/catalog.py
  pystac/collection.py
  pystac/common_metadata.py
  pystac/item.py
  pystac/item_collection.py
  pystac/layout.py
  pystac/link.py
  pystac/stac_io.py
  pystac/stac_object.py
  pystac/summaries.py
  pystac/validation/__init__.py
  tests/conftest.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

fix: pass href to item constructor in from_dict
  pystac/item.py
  tests/test_link.py
Due: black, flake8, mypy, isort

Always use `from datetime import datetime`
  benchmarks/catalog.py
  benchmarks/extensions/projection.py
  pystac/common_metadata.py
  pystac/extensions/sat.py
  pystac/extensions/timestamps.py
  pystac/item.py
  tests/conftest.py
  tests/extensions/test_custom.py
  tests/extensions/test_grid.py
  tests/extensions/test_sar.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_version.py
  tests/test_link.py
Due: black, flake8, mypy, isort

Add comment about `from datetime import datetime as Datetime`
  pystac/item.py
Due: black, flake8, mypy, isort

Add style section to contributing.rst
  docs/contributing.rst
Due: doc8

Cancel running CI jobs when a new commit is pushed to the branch
  .github/workflows/continuous-integration.yml
Due: none

feat: add RetryStacIO
  README.md
  docs/conf.py
  docs/installation.rst
  pystac/stac_io.py
  requirements-test.txt
  setup.py
  tests/cassettes/test_retry_stac_io.yaml
  tests/cassettes/test_retry_stac_io_404.yaml
  tests/test_stac_io.py
Due: black, doc8, flake8, mypy, isort

fix, docs: two small problems in API docstrings
  pystac/catalog.py
  pystac/utils.py
Due: black, flake8, mypy, isort

Remove demo branch from action
  .github/workflows/continuous-integration.yml
Due: none
