Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - "--py39-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        stages: [commit]
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

      - id: black
        name: black
        entry: black
        language: system
        stages: [commit]
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi, jupyter]
        additional_dependencies: ["black[jupyter]"]

      - id: codespell
        name: codespell
        entry: codespell
        args: [--ignore-words=.codespellignore]
        language: system
        stages: [commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [commit]
        types: [python]
        require_serial: true

Do not use the deprecated utcnow
  pystac/collection.py
  tests/test_catalog.py
  tests/utils/test_cases.py
  tests/validation/test_validate.py
Due: ruff, black, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Do not use the deprecated utcnow (#1283)
  CHANGELOG.md
  pystac/collection.py
  tests/test_catalog.py
  tests/utils/test_cases.py
  tests/validation/test_validate.py
Due: ruff, black, mypy

Move more settings into pyproject.toml
  .codespellignore
  .coveragerc
  .pre-commit-config.yaml
  doc8.ini
  pyproject.toml
Due: none

Move more settings into pyproject.toml (#1284)
  .codespellignore
  .coveragerc
  .pre-commit-config.yaml
  doc8.ini
  pyproject.toml
Due: none

feat: test and advertise python 3.12
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  pyproject.toml
Due: none

Make item pickle smaller
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

Added import for typing objects
  docs/concepts.rst
Due: doc8

Added import for typing objects (#1290)
  docs/concepts.rst
Due: doc8

Don't make all the links pickle in the same way
  pystac/item.py
Due: ruff, black, mypy

Update changelog
  CHANGELOG.md
Due: none

Add tests for old version of the extension
  pystac/extensions/projection.py
  tests/data-files/projection/example-with-version-1.1.json
  tests/extensions/test_projection.py
  tests/test_summaries.py
Due: ruff, black, mypy

Make item pickle smaller (#1285)
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

Add add user agent function
  pystac/stac_io.py
  test.py
  tests/test_stac_io.py
Due: ruff, black, mypy

Add add user agent function
  pystac/stac_io.py
Due: ruff, black, mypy

Fix typo
  CHANGELOG.md
Due: none

add layout strategy to catalog
  pystac/catalog.py
  tests/test_catalog.py
Due: ruff, black, mypy

add layout strategy to collection, update docstring
  pystac/catalog.py
  pystac/collection.py
Due: ruff, black, mypy

add API layout strategy
  pystac/catalog.py
  pystac/layout.py
  pystac/utils.py
  tests/test_layout.py
  tests/test_utils.py
Due: ruff, black, mypy

update docstring and Exception
  CHANGELOG.md
  pystac/layout.py
  tests/test_layout.py
Due: ruff, black, mypy

update changelog
  CHANGELOG.md
Due: none

update documentation
  CHANGELOG.md
  docs/concepts.rst
Due: doc8

changelog
  CHANGELOG.md
Due: none

fix docstring
  pystac/layout.py
Due: ruff, black, mypy

harmonize strategy argument name
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
Due: ruff, black, mypy

update arg name in documentation
  docs/concepts.rst
Due: doc8

add docstring
  pystac/utils.py
Due: ruff, black, mypy

Default layout strategy for catalogs (#1295)
  CHANGELOG.md
  docs/concepts.rst
  pystac/catalog.py
  pystac/collection.py
  tests/test_catalog.py
Due: ruff, black, doc8, mypy

add API layout strategy (#1294)
  CHANGELOG.md
  pystac/catalog.py
  pystac/layout.py
  pystac/utils.py
  tests/test_layout.py
  tests/test_utils.py
Due: ruff, black, mypy

fix: restrict black-jupyter to pyi and jupyter
  .pre-commit-config.yaml
  docs/tutorials/creating-a-landsat-stac.ipynb
Due: none

Just update to black 24.0
  pyproject.toml
Due: none

Just update to pytest 8
  pyproject.toml
Due: none

Black all files
  pystac/extensions/version.py
  pystac/serialization/migrate.py
  pystac/validation/local_validator.py
  tests/data-files/change_stac_version.py
  tests/data-files/get_examples.py
  tests/extensions/test_datacube.py
  tests/extensions/test_grid.py
  tests/extensions/test_mgrs.py
  tests/extensions/test_xarray_assets.py
Due: ruff, black, mypy

custom StacIO init needs to call parent init
  docs/concepts.rst
  docs/tutorials/how-to-create-stac-catalogs.ipynb
Due: doc8

Add changelog entry for docs update.
  CHANGELOG.md
Due: none
