Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, doc8, mypy

ruff:
  name: ruff
  entry: ruff
  language: system
  stages:
  - commit
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

fix: set collection to None in item constructor
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

chore: update changelog
  CHANGELOG.md
Due: none

chore: switch to ruff-format from black (#1394)
  .pre-commit-config.yaml
  docs/conf.py
  docs/contributing.rst
  docs/tutorials/adding-new-and-custom-extensions.ipynb
  docs/tutorials/creating-a-landsat-stac.ipynb
  docs/tutorials/how-to-create-stac-catalogs.ipynb
  docs/tutorials/how-to-read-data-from-stac.ipynb
  docs/tutorials/pystac-introduction.ipynb
  docs/tutorials/pystac-spacenet-tutorial.ipynb
  pyproject.toml
  pystac/catalog.py
  pystac/serialization/common_properties.py
  pystac/serialization/migrate.py
  pystac/validation/local_validator.py
  pystac/validation/stac_validator.py
Due: ruff, black, doc8, mypy

Set collection to None in item constructor when there is no collection (#1400)
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

fix: recursion error when eo band name is missing
  pystac/extensions/eo.py
  tests/extensions/test_eo.py
Due: ruff, black, mypy

chore: whitespace and copyright year update
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

chore: cleanup github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
Due: none

chore: move test and docs deps out of pyproject.toml
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  README.md
  docs/contributing.rst
  docs/requirements.in
  docs/requirements.txt
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Due: doc8

fix: ceil codespell
  requirements-dev.in
  requirements-dev.txt
Due: none

fix(ci): some leftover test extras
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): one more
  .github/workflows/continuous-integration.yml
Due: none

Fix recursion error when eo band name is missing (#1406)
  CHANGELOG.md
  pystac/extensions/eo.py
  tests/extensions/test_eo.py
Due: ruff, black, mypy

Update docs/contributing.rst
  docs/contributing.rst
Due: doc8

Move test, bench, and doc requirements out of pyproject.toml (#1407)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  docs/contributing.rst
  docs/requirements.in
  docs/requirements.txt
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Due: doc8

deps: update
  docs/requirements.txt
  requirements-dev.txt
Due: none

deps: update (#1413)
  docs/requirements.txt
  requirements-dev.txt
Due: none

release: v1.11.0
  .github/workflows/release.yml
  CHANGELOG.md
  pystac/version.py
Due: ruff, black, mypy

chore: rename to requirments-docs.txt
  .readthedocs.yaml
  docs/requirements-docs.in
  docs/requirements-docs.txt
Due: none

fix(ci): install the new file when checking docs
  .github/workflows/continuous-integration.yml
Due: none

Rename to requirments-docs.txt (#1416)
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  docs/requirements-docs.in
  docs/requirements-docs.txt
Due: none

deps: bump
  docs/requirements-docs.txt
  requirements-dev.txt
Due: none

Fix `Item` field ordering
  .pre-commit-config.yaml
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

Simplify ordering test
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

Fix item field ordering on `save_object` (#1423)
  .pre-commit-config.yaml
  CHANGELOG.md
  pystac/item.py
  tests/test_item.py
Due: ruff, black, mypy

Release v1.11.0 (#1414)
  .github/workflows/release.yml
  CHANGELOG.md
  docs/requirements-docs.txt
  pystac/version.py
  requirements-dev.txt
Due: ruff, black, mypy

fix: include v1.1.0 in MANIFEST.in
  MANIFEST.in
Due: none

fix: include v1.1.0 in MANIFEST.in (#1431)
  MANIFEST.in
Due: none

Use slots in commonly used classes
  pystac/asset.py
  pystac/catalog.py
  pystac/collection.py
  pystac/item.py
  pystac/link.py
  pystac/stac_object.py
Due: ruff, black, mypy

Update changelog
  CHANGELOG.md
Due: none

feat: use uv
  .github/workflows/continuous-integration.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/contributing.rst
  docs/pyproject.toml
  docs/requirements-docs.in
  docs/requirements-docs.txt
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  uv.lock
Due: doc8

fix: uv run pre-commit
  .github/workflows/continuous-integration.yml
Due: none

fix: we can use uv run on scripts
  .github/workflows/continuous-integration.yml
Due: none

fix: readthedocs install
  .readthedocs.yaml
Due: none

fix: remove -y from uninstall orjson
  .github/workflows/continuous-integration.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  doc8: any of: \.rst$
  mypy: any of: \.py$
