Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, mypy, isort

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

isort:
  name: isort
  entry: isort
  args: []
  language: system
  stages:
  - commit

fix, docs: two small problems in API docstrings
  pystac/catalog.py
  pystac/utils.py
Due: black, flake8, mypy, isort

chore: update changelog
  CHANGELOG.md
Due: none

Update the changelog for projection version change
  CHANGELOG.md
Due: none

Bump projection extension to v1.1.0
  pystac/extensions/projection.py
  tests/data-files/projection/collection-with-summaries.json
  tests/data-files/projection/example-landsat8.json
  tests/data-files/projection/optional-epsg.json
  tests/extensions/test_projection.py
Due: black, flake8, mypy, isort

Cancel running CI jobs when a new commit is pushed to the branch
  .github/workflows/continuous-integration.yml
Due: none

Remove demo branch from action
  .github/workflows/continuous-integration.yml
Due: none

docs: update examples to use proj v1.1.0
  docs/example-catalog/landsat-8-l1/2018-05/LC80150322018141LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80140332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-06/LC80300332018166LGN00.json
  docs/example-catalog/landsat-8-l1/2018-07/LC80150332018189LGN00.json
  docs/quickstart.ipynb
Due: none

docs: add note to contributing re: extensions
  docs/contributing.rst
Due: doc8

Always use `from datetime import datetime`
  benchmarks/catalog.py
  benchmarks/extensions/projection.py
  pystac/common_metadata.py
  pystac/extensions/sat.py
  pystac/extensions/timestamps.py
  pystac/item.py
  tests/conftest.py
  tests/extensions/test_custom.py
  tests/extensions/test_grid.py
  tests/extensions/test_sar.py
  tests/extensions/test_sat.py
  tests/extensions/test_scientific.py
  tests/extensions/test_version.py
  tests/test_link.py
Due: black, flake8, mypy, isort

Add comment about `from datetime import datetime as Datetime`
  pystac/item.py
Due: black, flake8, mypy, isort

Add style section to contributing.rst
  docs/contributing.rst
Due: doc8

Make table extension columns serializable
  pystac/extensions/base.py
  pystac/extensions/table.py
  tests/extensions/test_table.py
Due: black, flake8, mypy, isort

feat: add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: improve Item.from_dict
  pystac/item.py
  tests/test_item.py
  tests/test_item_collection.py
Due: black, flake8, mypy, isort

refactor, tests: remove `test_` from fixtures
  tests/conftest.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

feat, tests: add fixtures for prebuilt catalogs
  tests/conftest.py
Due: black, flake8, mypy, isort

tests, wip: add not-failing test for #838
  tests/test_catalog.py
Due: black, flake8, mypy, isort

feat: add Link.is_hierarchical()
  pystac/link.py
  tests/test_link.py
Due: black, flake8, mypy, isort

feat: add remove_hierarchical_links
  pystac/link.py
  pystac/stac_object.py
  tests/conftest.py
  tests/test_catalog.py
  tests/test_collection.py
  tests/test_item.py
Due: black, flake8, mypy, isort

Change expectations in tests - windows paths should be written as posix
  pystac/catalog.py
  pystac/utils.py
  tests/test_utils.py
Due: black, flake8, mypy, isort

feat: add extra_fields to AssetDefinition
  pystac/extensions/item_assets.py
  tests/extensions/test_item_assets.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$
  doc8: any of: \.rst$
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
