Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        stages: [pre-commit]
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: codespell
        name: codespell
        entry: codespell
        language: system
        stages: [pre-commit]
        types_or: [jupyter, markdown, python, shell]

      - id: doc8
        name: doc8
        entry: doc8
        language: system
        files: \.rst$
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        args: [--no-incremental]
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: conftest\.py$
        require_serial: true

feat: updated documentation
  docs/api.rst
  docs/api/extensions.rst
  docs/api/extensions/earthquake.rst
  docs/api/extensions/insar.rst
  docs/api/extensions/order.rst
  docs/api/extensions/processing.rst
  docs/api/extensions/product.rst
  docs/concepts.rst
  pystac/extensions/earthquake.py
  pystac/extensions/insar.py
  pystac/extensions/order.py
  pystac/extensions/processing.py
  pystac/extensions/product.py
Due: doc8, mypy

feat: V2 common metadata (#1636)
  src/pystac/asset.py
  src/pystac/common_metadata.py
  src/pystac/item.py
  src/pystac/provider.py
  tests/test_common_metadata.py
  tests/v1/test_common_metadata.py
Due: mypy

Add copy/move/delete, make owner an attribute
  src/pystac/asset.py
  src/pystac/utils.py
Due: mypy

Deprecate copy/move/delete
  src/pystac/asset.py
  tests/v1/test_asset.py
Due: mypy

Fix href on asset
  src/pystac/asset.py
Due: mypy

Run asset tests on CI
  src/pystac/asset.py
  tests/v1/test_asset.py
Due: mypy

Update error message only
  tests/v1/test_asset.py
Due: mypy

New test_item_assets for new ItemAsset, old tests passing with old ItemAssetDefinition
  src/pystac/__init__.py
  tests/data-files/collections/with-item-assets.json
  tests/test_item_assets.py
  tests/v1/test_item_assets.py
Due: mypy

Run collection tests on v2
  tests/v1/test_collection.py
Due: mypy

tests(v2): enable posix paths tests
  tests/v1/posix_paths/test_posix_paths.py
Due: mypy

tests(v2): enable posix paths tests (#1658)
  tests/v1/posix_paths/test_posix_paths.py
Due: mypy

feat: V2 asset and item_assets (#1646)
  src/pystac/__init__.py
  src/pystac/asset.py
  src/pystac/utils.py
  tests/data-files/collections/with-item-assets.json
  tests/test_item_assets.py
  tests/v1/test_asset.py
  tests/v1/test_item_assets.py
Due: mypy

Fix asset `__eq__`
  src/pystac/asset.py
  tests/v1/test_item_assets.py
Due: mypy

Fix up collection to pass v1 tests
  src/pystac/collection.py
  src/pystac/container.py
  src/pystac/item.py
  src/pystac/item_collection.py
  src/pystac/link.py
  tests/v1/test_collection.py
  tests/v1/utils/test_cases.py
Due: mypy

Tidy up a bit
  src/pystac/collection.py
  src/pystac/item.py
Due: mypy

refactor(test_posix_path): uses self-href instead of self-link
  src/pystac/io.py
  src/pystac/stac_object.py
  tests/v1/posix_paths/test_posix_paths.py
  tests/v1/test_item.py
Due: mypy

make hrefs to be posix-style on load
  src/pystac/asset.py
  src/pystac/io.py
  src/pystac/item.py
  src/pystac/link.py
  src/pystac/stac_object.py
Due: mypy

Introduce cool-down periods for uv
  .github/dependabot.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Switch build to uv
  .github/workflows/release.yml
Due: none

chore: Introduce cool-down periods for uv (#1670)
  .github/dependabot.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor: self._href must be absolute
  src/pystac/stac_object.py
Due: mypy

feat: restore Extent.from_items
  src/pystac/collection.py
Due: mypy

feat: restore convenience methods for Link
  src/pystac/link.py
Due: mypy

test: verifies self links exist
  tests/v1/posix_paths/test_posix_paths.py
Due: mypy

feat: restore convenience function Container.get_item
  src/pystac/container.py
Due: mypy

test: v2 compatibility update of v1/test_link
  tests/v1/conftest.py
  tests/v1/test_link.py
Due: mypy

feat: Sentinel1 extension initial checkin
  .gitignore
  pystac/__init__.py
  pystac/extensions/sentinel1.py
  tests/extensions/test_sentinel1.py
Due: mypy

feat: added Sentinel-2 and Sentinel-3 extensions
  pystac/__init__.py
  pystac/extensions/sentinel2.py
  pystac/extensions/sentinel3.py
  tests/extensions/cassettes/test_sentinel1/test_apply_and_validate.yaml
  tests/extensions/cassettes/test_sentinel1/test_no_args_fails.yaml
  tests/extensions/cassettes/test_sentinel2/test_apply_and_validate.yaml
  tests/extensions/cassettes/test_sentinel2/test_no_args_fails.yaml
  tests/extensions/cassettes/test_sentinel2/test_no_args_validate.yaml
  tests/extensions/cassettes/test_sentinel3/test_apply_and_validate.yaml
  tests/extensions/cassettes/test_sentinel3/test_no_args_fails.yaml
  tests/extensions/test_sentinel2.py
  tests/extensions/test_sentinel3.py
Due: mypy

Create a dependabots group and change frequency to weekly
  .github/dependabot.yml
Due: none

Create a dependabots group and change frequency to weekly (#1682)
  .github/dependabot.yml
Due: none

fix: simple readme
  pytest-pystac/README.md
Due: none

fix: imports
  pyproject.toml
Due: none

Switch dependabot back to pip
  .github/dependabot.yml
Due: none

Switch dependabot back to pip (#1689)
  .github/dependabot.yml
Due: none

fix: pull static script
  scripts/pull-static
Due: none

fix: pull static script (#1692)
  scripts/pull-static
Due: none

test: make link check windows compatible
  tests/v1/test_link.py
Due: mypy
