Repository stac-utils/pystac: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, mypy

doc8:
  name: doc8
  entry: doc8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - pre-commit
  require_serial: true

update changelog
  CHANGELOG.md
Due: none

increase coverage, fix naming
  tests/extensions/test_storage.py
Due: mypy

documentation fixes
  docs/api/extensions.rst
  pystac/extensions/storage.py
Due: doc8, mypy

retrigger ci
  tests/extensions/test_storage.py
Due: mypy

increase test coverage
  tests/extensions/test_storage.py
Due: mypy

rework: single entrypoint
  pystac/extensions/ext.py
  pystac/extensions/storage.py
  tests/extensions/test_storage.py
Due: mypy

improve equality and setting/getting attribute
  pystac/extensions/storage.py
Due: mypy

cast after get_required
  pystac/extensions/storage.py
Due: mypy

fix for proper handling of absolute http URIs
  pystac/asset.py
  pystac/item.py
  pystac/utils.py
  tests/test_utils.py
Due: mypy

fix tests for windows
  tests/test_utils.py
Due: mypy

added fix for handling of relative links to changelog
  CHANGELOG.md
Due: none

Better function description
  pystac/utils.py
Due: mypy

Reworded changelog
  CHANGELOG.md
Due: none

revert back change in item
  pystac/item.py
Due: mypy

added explicit tests for get_absolute_href
  tests/test_asset.py
Due: mypy

use temporary path for get_absolute_href tests as windows does not like invented paths
  tests/test_asset.py
Due: mypy

More readable condition
  pystac/utils.py
Due: mypy

separated windows and unix tests
  tests/test_asset.py
Due: mypy

fix lint checks
  pystac/utils.py
Due: mypy

Fix for proper handling of relative links for assets of network-loaded STAC items (#1599)
  CHANGELOG.md
  pystac/asset.py
  pystac/utils.py
  tests/test_asset.py
  tests/test_utils.py
Due: mypy

fix: copy extra_fields
  pystac/item.py
  tests/test_item.py
Due: mypy

test: add specific catalog test
  tests/test_catalog.py
Due: mypy

chore: update changelog
  CHANGELOG.md
Due: none

fix: clone extra_fields for Item (#1601)
  CHANGELOG.md
  pystac/item.py
  tests/test_catalog.py
  tests/test_item.py
Due: mypy

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: use release-please
  .github/pull_request_template.md
  .github/workflows/pr.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  RELEASING.md
  docs/contributing.rst
  pystac/version.py
  release-please-config.json
Due: doc8, mypy

docs: add note about unmerged pr
  docs/contributing.rst
Due: doc8

fix: update cassettes, etc
  .github/workflows/release-please.yml
Due: none

chore: bootstrap release-please (#1602)
  .github/pull_request_template.md
  .github/workflows/pr.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  RELEASING.md
  docs/contributing.rst
  pystac/version.py
  release-please-config.json
Due: doc8, mypy

ci: checkout with bot token
  .github/workflows/release-please.yml
Due: none

chore: switch to prek
  .pre-commit-config.yaml
  pyproject.toml
  src/pystac/catalog.py
  src/pystac/collection.py
  src/pystac/common_metadata.py
  src/pystac/extensions/eo.py
  src/pystac/extensions/raster.py
  src/pystac/extensions/scientific.py
  src/pystac/layout.py
  src/pystac/link.py
  src/pystac/serialization/common_properties.py
  src/pystac/stac_io.py
  src/pystac/stac_object.py
  src/pystac/summaries.py
  src/pystac/utils.py
  src/pystac/validation/stac_validator.py
  tests/v1/data-files/change_stac_version.py
  tests/v1/extensions/test_classification.py
  tests/v1/test_catalog.py
  tests/v1/test_layout.py
  tests/v1/utils/__init__.py
  uv.lock
Due: mypy

fix: remove doc8
  .pre-commit-config.yaml
Due: none

ci: simplify
  .github/workflows/continuous-integration.yml
Due: none

fix: use typing Self
  .python-version
  pyproject.toml
  src/pystac/asset.py
  src/pystac/extent.py
  src/pystac/link.py
  src/pystac/provider.py
  src/pystac/stac_io.py
  src/pystac/stac_object.py
  uv.lock
Due: mypy

fix: ruff
  src/pystac/item.py
  src/pystac/utils.py
  tests/v1/test_catalog.py
  tests/v1/test_utils.py
  tests/v1/utils/test_cases.py
  tests/v1/validation/test_validate.py
Due: mypy

ci: remove 3.10
  .github/workflows/continuous-integration.yml
Due: none

Path conditions:
  doc8: any of: \.rst$
  mypy: any of: \.py$
